/* tab 관련 커스터마이징 */
/* 2016. 11. 3. */
.dhxtabbar_base_material div.dhxtabbar_tabs {
    border: none;
    border-width: 0px;
    background-color: #E9EEF4;
    font-size: 13px;
    color: #626d83;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab {
    background-color: inherit;;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab.dhxtabbar_tab_actv {
    color:inherit;
    background-color: #fff;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_text {
    height: inherit;
    background-color: inherit;
    border-right: 1px solid rgba(255,255,255,0.6);
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_text:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_close {
    opacity: .25;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_close:hover {
    opacity: 1;
}


/* 2020 admin restyle */
.dhxtabbar_base_material { height: 100% !important; }
.dhxtabbar_base_material div.dhxtabbar_tabs {
    height: 50px;
    line-height: 50px;
    color: #6f5656;
    background-color: #f6eed9;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base,
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left,
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_right { height: 50px;}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab { height: 50px; line-height: 50px;}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab:first-of-type div.dhxtabbar_tab_text {
    background: black;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_text {
    line-height: 50px;
    border-right: 1px solid #fff;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab.dhxtabbar_tab_actv { 	color: #fe0605;}
.dhxtabbar_base_material div.dhxtabbar_tabs_top div.dhx_cell_tabbar div.dhx_cell_cont_tabbar { border: 0}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_close { top: 17px;}

.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left,
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right { height: 50px; line-height: 50px;}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left {border-right: 1px solid #fff; }
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right {border-left: 1px solid #fff;}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left div.dhxtabbar_arrow_img,
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right div.dhxtabbar_arrow_img {top: 17px}
