/**
신규 어드민 adminweb 에서만 추가되는 css 요소들은 여기에 정리.
 */

/* 우편번호 추가 스타일 시작 */
/* 검색 자동완성 레이어 */
.srch_keyword{position: absolute;top: 192px;left: 83px;width: 237px;padding: 1px 0 3px;border: 1px solid #ffb433;background: #ffffff;line-height: 25px;z-index: 1;}
.srch_keyword li{position:relative}
.srch_keyword li a{display:block;padding-left:9px;color:#444;text-align:left;}
.srch_keyword li a:hover{background:#f7f7f7}
.srch_keyword li a.on{background:#f7f7f7}
.srch_keyword li strong{color:#ff3e00}
.srch_keyword li.latest{border-bottom:1px solid #ebe3d9;background-color:#fffcf5}
.srch_keyword li.latest a:hover{background-color:#fffcf5}
.srch_keyword li.latest .sdate{position:absolute;top:-1px;right:25px;font-size:10px;font-family:tahoma;color:#c3bbae}

/* 검색 결과 영역 */
.bxScroll {margin:0 0 7px 0;padding:10px 20px 0 20px;font-size:11px;height:265px; max-height: 265px;overflow:hidden;position:relative;overflow-y:scroll;background-color:#f7f7f7;}
.bxScroll dl{position:relative;padding:10px 0 0 0;*padding:10px 0 10px 0;border-bottom:1px solid #ebebeb;}
.bxScroll dt{float:right;position:absolute;top:45%;right:0;margin-top:-7px;}
.bxScroll dd{display:inline-block;margin-bottom:8px;*margin-bottom:5px;line-height:20px;word-break: break-all;}
.bxScroll dd span{display:inline-block;float:left;text-align:left;padding:0 10px 0 0;}
.bxScroll dd span.road{width:35px;}
.bxScroll dd span.road span{display:inline-block;background: url(https://image.homeplus.co.kr/images/2014/mypage/layer/icon_wname.png) no-repeat;width:34px;height:16px;text-indent:-9999px;}
.bxScroll dd span.road .w_name01{background-position:0 0;}
.bxScroll dd span.road .w_name02{background-position:0 -24px;}
.bxScroll dd span.address{width:250px;line-height:16px;}
.lotNum dl{padding:8px 0 1px 0;overflow:hidden;}
.lotNum dl dt{position: inherit;margin-top:3px;*margin-top:-3px;}
.lotNum dl dd{float: left; margin-bottom:5px;}
.bxEmpty{margin:0 0 10px 0;padding:10px 18px;font-size:11px;height:170px;overflow:hidden;position:relative;background-color:#f7f7f7;}
.bxEmpty span{display: inline-block;padding:5px 0;line-height:20px;}
.bxEmpty span em{color:#ff140a;}
.searchResult{display:inline-block;margin-bottom:8px;padding:0;font-size:11px;color:#666;}
.searchResult em{color:#ff140a;}
.pagingNavi em,.pagingNavi a {
    display: inline-block;
    padding: 0 4px;
    min-width: 10px;
    height: 20px;
    margin-left: 3px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 11px;
}
.pagingNavi em {
    background-color: #aaa;
    border: 1px solid #8a8a8a;
    color: #fff;
}

/* 우편번호 추가 스타일 끝 */


/* 2020 admin restyle */
.layout.aside .logo { background-color: #e41f1e;}
.layout.container .top-border {display: none}
.layout.aside .logo > .admin-title { padding: 50px 0 10px }
.layout.aside .logo > .admin-title img {display: none;}
.layout.aside .logo > .admin-title a {
    display: inline-block;
    top: 0;
    width: 157px;
    height: 22px;
    margin-bottom: 0;
    background: url(/static/images/logo_admin.png) 0 0 no-repeat;
    font-size: 0;
    color: transparent;
    line-height: 0;
}
.layout.aside .aside-userinfo { font-weight: normal }
.layout.aside .aside-userinfo .fa:before { display: none }
.layout.aside .aside-userinfo .vline {
    margin: 0 2px;
    color: rgba(255,255,255, .4)
}
.layout.aside .sidetop-button-group {padding: 0 0 50px 0;}
.ui.button.small.sidetop {
    color: #fff;
    border-radius: 2px;
    background-color: #a42d2d;
}

.layout.aside { background-color: #f4f5f5}
.layout.aside .menu-group {
    top: 199px
}
.layout.aside .list-snb {border-bottom: 0}
.layout.aside .list-snb > li {border-top: 0}
.layout.aside .list-snb > li.active > a:before { display: none}
.layout.aside .list-snb > li > a {
    color: #333
}
.layout.aside .list-snb .sub-menu {
    border-top: 0;
    background-color: #e9e9e9;
}
.layout.aside .list-snb .sub-menu .title-depth2 {
    padding: 15px 0 0 20px;
    color: #8e5d5d;
    font-weight: bold;
    border-top: 1px solid #dddcdc;
}

.layout.aside .list-snb .sub-menu > li > a {
    padding-left: 20px;
}
.layout.aside .list-snb .sub-menu > li > a:hover,
.layout.aside .list-snb .sub-menu > li.selected > a {
    background: none;
    color: #fe0605;
    text-decoration: underline;
}

.ui.button.cyan,
.ui.button.cyan:hover { border-color: #e83f3f; background-color: #e83f3f}
.fa-search:before { display: none}

/* 배송조회 */
.delivery-info{
    padding:20px;
    text-align:center;
    font-size:12px;
    color:#555;
    background:#f9fafb;
    border-top:1px solid #eee;
    line-height:1;
}
.delivery-state{
    position: relative;
    padding:30px 20px 10px 56px;
    color:#999;
}
.delivery-state li{
    position:relative;
    display:table;
    width:100%;
    padding:20px 0;
    border-top: 1px solid #ddd;
}
.delivery-state li:before{
    content:'';
    position: absolute;
    display:block;
    width:16px;
    height:16px;
    top:20px;
    left:-36px;
    background:url(/static/images/ico_check.png) no-repeat center #999;
    background-size:9px;
    border-radius:15px;
    z-index:1;
}
.delivery-state li:after{
    content:'';
    position: absolute;
    display:block;
    width:2px;
    height:100%;
    left:-29px;
    top:28px;
    background:#999;
}
.delivery-state li:first-child{
    color:#333;
    border-top:0;
}
.delivery-state li:first-child:before{
    background-color:#333;
}
.delivery-state li:first-child:after{
    /*height:112%;*/
    background:#333;
}
.delivery-state li:last-child:after{
    content:none;
}
.delivery-state .date{
    font-size: 13px;
    font-weight:bold;
    line-height:1.08;
}
.delivery-state .state{
    margin-top:5px;
    font-size:17px;
    font-weight:bold;
    line-height:1.06;
}
.delivery-state .state span{
    display: inline-block;
    margin-left:5px;
    font-size:13px;
    font-weight:normal;
    color:#999;
}
.delivery-state .info{
    margin-top:10px;
    font-size:13px;
    line-height:1.23;
}
.delivery-state .align-r{
    display:table-cell;
    font-size:13px;
    line-height:1.38;
    text-align:right;
}