@charset "utf-8";

.popup-zipcode.com.wrap-popup{width:520px;height:733px;padding:37px 40px 50px 40px;background:#fff;}
.popup-zipcode .com.wrap-popup *{font-family:Malgun Gothic,'맑은고딕',Helvetica,AppleSDGothicNeo,sans-serif; }
.popup-zipcode .popup-wrap-title{border-bottom:1px solid #333;}
.popup-zipcode .popup-wrap-title .title{margin-bottom: 20px;color: #333;font-size: 20px;font-weight: bold;line-height: 22px;letter-spacing: -1px;}

.popup-zipcode .disc {margin:38px 0 14px 0;}
.popup-zipcode .disc p{color:#666;font-size:13px;}

.popup-zipcode .srch-wrap{position:relative;padding-right:92px;}
.popup-zipcode .srch-wrap .input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;width:100%;height:30px;padding:1px 10px 2px;border:1px solid #ddd;background-color:#fff;font-size:13px;line-height:1.5;line-height:22px\9;color:#333;-webkit-transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out;transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
.popup-zipcode .srch-wrap .input:focus{border-color:#66afe9;outline:0;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.popup-zipcode .srch_keyword.on{display:block;}
.popup-zipcode .srch_keyword{display:none;position:absolute;top:29px;left:0;width:426px;border:1px solid #ddd;z-index:9;background:#fff;}
.popup-zipcode .srch_keyword li a{padding:4px 10px 5px 10px;text-align:left;color:#666;font-size:13px;line-height:19px;display:block;}
.popup-zipcode .srch_keyword li a:hover{display:block;background:#f7f7f7;}

.popup-zipcode .button{color:#333;font-size:13px;font-weight:normal;height:auto;line-height:18px;line-height:22px\9;text-align:center;text-decoration:none;display:inline-block;box-sizing:border-box;overflow:visible;border:1px solid #c3c3c3;border-radius:0;outline:none;background-image:none;background-color:#fff;vertical-align:middle;white-space:nowrap;cursor:pointer;transition:box-shadow .15s ease;-webkit-transition:box-shadow .15s ease;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.popup-zipcode .button:hover,
.popup-zipcode .button:focus{box-shadow:inset 0 0 0 100px rgba(0,0,0,0.05);}
.popup-zipcode .button:active{box-shadow:inset 0 0 0 100px rgba(0,0,0,0.1);-webkit-transition:none;transition:none;}
.popup-zipcode .button.circle,
.popup-zipcode .button.circle:hover{position:relative;width:18px;height:18px;padding:0 0 0 1px;border-color:#ccc;border-radius:50%;background:#fff;font-weight:bold;font-size:12px;line-height:14px;text-indent:-2px\9;color:#999;}
.popup-zipcode .button.medium,
.popup-zipcode .form.medium .button{display:inline-block;padding:0 15px 2px 15px;min-width:82px;margin-left:8px;height:30px;font-size:13px;line-height:14px;}

.popup-zipcode .button.darkblue,
.popup-zipcode .button.darkblue:hover{border-color:#4d5666 !important;background-color:#4d5666;color:#fff;}/*Darkblue*/

.popup-zipcode .srch-wrap .inline{display:block;}
.popup-zipcode .srch-wrap .inline button{position:absolute;top:0;right:0;}
.popup-zipcode .srch-wrap .inline .lbl_type{position:absolute;top:14px;left:12px;color:#aaa;font-size:13px;line-height:0;}
.popup-zipcode .srch-wrap .inline .btn_del_address{padding:9px;position:absolute;top:1px;right:95px;width:9px;height:9px;background:#fff url('../images/common/ico_common.png') -140px -31px;z-index:9999;text-indent:-99px;overflow:hidden;}

.popup-zipcode .result-text{margin-top:48px;color:#666;font-size:14px;font-weight:bold;text-align:left;}
.popup-zipcode .result-text .text{color:#aaa;font-size:12px;font-weight:lighter;}
.popup-zipcode .result-text .text-red{color:#ee5555;}

.popup-zipcode .bxScroll {margin-top:15px;padding:20px;font-size:11px;max-height:310px;height:310px;overflow:hidden;position:relative;overflow-y:scroll;background-color:#f9f9f9;}
.popup-zipcode .bxScroll dl{position:relative;overflow:hidden;border-bottom:1px solid #ededed;padding:0;}
.popup-zipcode .bxScroll dl + dl{margin-top:10px;}
.popup-zipcode .bxScroll dt{position:absolute;top:50%;margin-top:-15px;right:0px;color:#666;font-size:12px;width: 110px;}
.popup-zipcode .bxScroll dt .zipcode{margin:0px 10px 0px 10px; width: 37px; display:inline-block;}
.popup-zipcode .bxScroll dt .island{margin:0px 0px 0px 10px; width: 42px; display:inline-block;}
.popup-zipcode .bxScroll dd{margin-bottom:9px;text-align:left;overflow:hidden;}
.popup-zipcode .bxScroll dd + dd{margin-bottom:10px;}
.popup-zipcode .bxScroll dd .address{float:left;width:300px;color:#666;font-size:13px;line-height:18px;cursor:text;}
.popup-zipcode .bxScroll dd .gibunRep{float:left;width:300px;color:#666;font-size:13px;line-height:18px;cursor:text;}
.popup-zipcode .bxScroll dd .address.first{margin-left:0;}
.popup-zipcode .bxScroll dd .island-address{float:left;width:300px;color:#666;font-size:13px;line-height:18px;cursor:text;}
.popup-zipcode .bxScroll dd .island-address.first{margin-left:0;}
.popup-zipcode .bxScroll span.road{width:30px;padding:0;float:left;margin-right:10px;}
.popup-zipcode .bxScroll .road span{display:block;width:30px;height:19px;padding:0;color:#fff;font-size:11px;line-height:18px;text-align:center;background:#b2bbc5;text-indent:0;}
.popup-zipcode .bxScroll.type2 dd .address{min-height:22px;margin-left:0;}
.popup-zipcode .bxScroll.type2 dt{margin-top:0;top:-2px;}
.popup-zipcode .bxScroll.no-data{margin-top:50px;overflow-y:hidden;text-align:center;}
.popup-zipcode .bxScroll.no-data strong{padding-top:135px;color:#666;font-size:14px;display:block;}
.popup-zipcode .bxScroll.no-data p{color:#aaa;font-size:12px;}
.popup-zipcode .bxScroll.auto{height:auto;overflow-y:hidden;}
.popup-zipcode .bxScroll .com-list-box li{position:relative;padding:4px 0 6px 8px;color:#666;font-size:13px;line-height:18px;text-align:left;}
.popup-zipcode .bxScroll .com-list-box li:first-child{padding-top:0;}
.popup-zipcode .bxScroll .com-list-box li:before{position:absolute;top:12px;left:0;width:3px;height:3px;content:'';display:block;background:#666}
.popup-zipcode .bxScroll .com-list-box li:first-child .road{top:0;}
.popup-zipcode .bxScroll .com-list-box .road{position:absolute;top:4px;left:178px;display:inline-block;}
.popup-zipcode .bxScroll .com-list-box .road span{width:20px;display:inline-block;margin-right:6px;}

.popup-zipcode .pagination{width:100%;margin-top:30px;text-align:center;}
.popup-zipcode .pagination .inner{display:inline-block;}
.popup-zipcode .pagination .link-page,
.popup-zipcode .pagination .btn-move{position:relative;float:left;display:inline-block;border:1px solid transparent;margin:0 3px;min-width:25px;height:25px;line-height:25px;font-weight:bold;font-size:12px;vertical-align:middle;color:#666;z-index:2;}
.popup-zipcode .pagination .btn-move i{margin:8px 2px 0 2px;width:9px;height:8px;background:url('../images/common/ico_common.png') no-repeat;display:inline-block;overflow:hidden;text-indent:-999px;}
.popup-zipcode .pagination .btn-first i{background-position:-200px -160px;}
.popup-zipcode .pagination .btn-first:hover i{background-position: -200px -210px;}
.popup-zipcode .pagination .btn-prev i{background-position:-200px -192px;}
.popup-zipcode .pagination .btn-prev:hover i{background-position:-200px -242px;}
.popup-zipcode .pagination .btn-last i{background-position:-241px -160px;}
.popup-zipcode .pagination .btn-last:hover i{background-position:-241px -210px;}
.popup-zipcode .pagination .btn-next i{background-position:-245px -192px;}
.popup-zipcode .pagination .btn-next:hover i{background-position:-245px -242px;}
.popup-zipcode .pagination .link-page:hover{color:#666;border:1px solid #ddd;}
.popup-zipcode .pagination .link-page.active{background-color:#ee5555;color:#fff;font-weight:bold;cursor:default;border:none;}
.popup-zipcode .pagination .btn-prev{margin-right:8px;}
.popup-zipcode .pagination .btn-next{margin-left:8px;}

.popup-zipcode .bottom{position:fixed;left:0;bottom:24px;right:0;padding-top:20px;border-top:1px solid #ededed;}
.popup-zipcode .bottom p{color:#999;font-size:12px;text-align:center;line-height:16px;}
.popup-zipcode .bottom a{text-decoration:underline;}