@charset "utf-8";

* { position:relative;}
html { height:100%; }
body {height:100%; margin:0; }
input,button { margin:0; outline:none; color:#4f5964; font-family:"굴림", Gullim,"돋움", Dotum, verdana, Arial, sans-serif; }
img { border:0 none; vertical-align:top; }
hr,caption,legend  { display:none; }
address { font-style:normal; }
article,aside,canvas,details,footer,header,hgroup,menu,nav,section,summary,address {
    display:block;
}

.login_body {background: repeat-x left top; height:100%;}
.login_body .login_warpper {position:absolute; top:50%; width:100%;height:610px; margin:-160px 0 0 0px; }
.login_body .login_layout {width:969px; height:474px; margin:0px auto; clear:both; vertical-align:top;}
.login_body .login_layout .set1,.set2{ clear:both; overflow:hidden; display: block;}
.login_body .set1 { width:410px; margin:0 auto;}
.login_body .login_logo {margin:0px 0px 0px 0px; position:absolute; left:25px; top:20px; padding:0px; z-index:100;}
.login_body .login_form {width:502px; height:199px;  margin:0px 0px 0px 0px; font-family:Malgun Gothic, Gulim, Dotum, Arial, Helvetica, sans-serif; background:url(/static/images/loginform01.gif) no-repeat; background-size: 410px 199px; overflow:hidden; padding:0px;}
.login_body .login_form form {margin:29px 0 0 37px;padding:0}
.login_body .login_form form fieldset {margin:0;padding:0;border:0; clear:both;}
.login_body .login_form legend {visibility:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.login_body .title{ margin:0px 0px 22px 0px; padding:0px 0px 0px 0px;}
.login_body .id{padding:1px 0 0 10px; width:217px; height:36px; margin:0px 0px 5px 0px;}
.login_body .pw{padding:1px 0 0 10px; width:217px; height:36px;margin:0px;}
.login_body #userId {background:#fff no-repeat 0 0 ;width:200px; height:35px;border:0px solid #fff;padding:0px 0px 0px 4px; line-height:35px; color:#333333; font-size:13px;}
.login_body #userPassword {background:#fff no-repeat 0 0 ;width:200px; height:35px;border:0px solid #fff;padding:0px 0px 0px 4px;line-height:35px;color:#333333; font-size:13px;}
.login_body .input_text.focus,
.login_body .input_text.focusnot { background:#fff !important;}
.login_body .form_txt { clear:both; width:346px;margin:10px 0px 0px 7px; overflow:hidden; }
.login_body .btn_login { position:absolute; top:23px; right:139px;width:89px; height:79px;}
.login_body .banner { margin:0px; padding:0px; list-style:none; font-family:Malgun Gothic; float:left;}
.login_body .banner li { float:left; font-size:12px; color:#7b7b7b; cursor:pointer; letter-spacing:-1px;}
.login_body .banner .bar { cursor:default; padding:0px 2px; color:#9e9e9e;}



/* 2020 admin restyle */
.login-page {
    position: relative;
    background: #ebedef;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-layout {	text-align: center;}
.login-box {
    width: 360px;
    padding: 50px 40px 80px;
    margin-top: 30px;
    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
}
.login-box h2 {
    margin-bottom:50px;
    font-size: 24px;
    color: #333;
}
.login-box .pw { margin-top: 10px;}
.login-box .input_text {
    width: 280px;
    height: 40px;
    padding: 0 10px;
    font-size: 12px;
    color: #999;
    border-radius: 3px;
    border: 1px solid #ddd;
}
.login-box .input_text::placeholder { color: #999; }
.login-box .form_txt {
    margin-top: 20px;
    text-align: left;
}

.login-box .form_txt span:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 5px;
    background: #e0e0e0;
    font-size: 12px;
    vertical-align: -1px;
}
.login-box .form_txt span:first-child:before { display: none}
.login-box .form_txt span label { vertical-align: middle}
.login-box .form_txt button {
    background: #fff;
    /*color: #999;*/
}
.login-box .login_btn {
    margin-top: 20px;
    width: 100%;
    height: 44px;
    font-size: 15px;
    color: #fff;
    background: #fe0605;
    border-radius: 2px;
}
.login-box .login_btn:disabled { background: #c9c9c9;}
