@charset "utf-8";

/* Search Table size CSS */
.date-input-style {
    width: 100px !important;
}
.search-input-style-small {
    width: 300px !important;
}
.search-input-style-middle {
    width: 800px !important;
}
.vertical-button-style {
    text-align: left !important;
}
.select-style {
    width: 120px !important;
}

/* Search Data Managements Filter CSS */
.left-float {
    float: left;
    width: 150px !important;
}
.attribute-box {
    position: relative;
    padding: 15px 121px 15px 15px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: rgb(249, 250, 251);
    border: 1px solid rgb(238, 238, 238);
    display: none;
}
.checkbox-style {
    display: inline-block !important;
}