@charset "utf-8";

.modal {
    position: absolute;
    width: 470px;
    background: #fff;
    padding: 25px 20px 40px;
    outline: none;
}

.modal .modal-cont {
    min-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mgt25 {
    margin-top: 25px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fc03 {
    color: #666 !important;
}

.mgb15 {
    margin-bottom: 15px !important;
}

.tbl-form table {
    width: 100%;
    table-layout: fixed;
    border-top: 2px solid #333;
}

table, td, th {
    border-collapse: collapse;
}

table {
    border-spacing: 0;
}

caption {
    height: 0;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal .tbl-form tbody th {
    padding: 18px 9px;
}

.tbl-form thead th, .tbl-form tbody th {
    padding: 20px;
    color: #333;
    background: #f7f7f7;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.tbl-form thead th, .tbl-form tbody th, .tbl-form tbody td {
    font-size: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.modal .tbl-form tbody td {
    vertical-align: middle;
    padding: 10px 15px;
}

.tbl-form tbody td {
    padding: 15px 20px;
    color: #666;
}

.bul-require {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: -3px 5px 0;
    background: #ff3333;
    border-radius: 100%;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    color: transparent;
}

.inp-base {
    width: 180px;
    padding: 0 10px;
    height: 32px;
    color: #666;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
    letter-spacing: -0.03em;
    vertical-align: middle;
}

.fc02 {
    color: #ff3333 !important;
}

mgl10 {
    margin-left: 10px;
}

.bul-p, .bul-list li {
    position: relative;
    padding-left: 7px;
    font-size: 12px;
    color: #999;
}

.mgt10 {
    margin-top: 10px !important;
}

.bul-p:before, .bul-list li:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: #999;
}

.btn-wrap {
    text-align: center;
    font-size: 0;
}

.mgt20 {
    margin-top: 20px !important;
}

.btn-wrap [class*="btn-base"]:first-child {
    margin-left: 0;
}

[class*="btn-base"].type4 {
    color: #fff;
    border: 0;
    background-color: #ff3333;
    margin-left: 10px;
}

[class*="btn-base"].type3 {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.btn-base-l {
    min-width: 120px;
    height: 38px;
    line-height: 36px;
    font-size: 15px;
    color: #666;
    border: 1px solid #ddd;
    background-color: #fff;
}

[class*="btn-base"] {
    display: inline-block;
    padding: 0 15px;
    height: 32px;
    line-height: 30px;
    font-size: 15px;
    color: #666;
    vertical-align: middle;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

button {
    background: transparent;
    letter-spacing: -.02em;
}

a, button {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

input, select, textarea {
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family:dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;
}

abbr, cite, em, i, u {
    font-style: normal;
    text-decoration: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    outline: none;
}

a, b, body, button, div, em, fieldset, form, h1, h2, h3, h4, h5, h6, i, iframe, label, p, span, strong, table, tbody, td, th, thead, tr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;
    color: #333;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.02em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    overscroll-behavior: contain;
    word-break: keep-all;
}

.h2 {
    font-size: 21px;
    font-weight: 400;
    color: #333;
}