/**
신규 partner-web 에서만 추가되는 css 요소들은 여기에 정리.
 */

/* 우편번호 추가 스타일 시작 */
/* 검색 자동완성 레이어 */
.srch_keyword{position: absolute;top: 192px;left: 83px;width: 237px;padding: 1px 0 3px;border: 1px solid #ffb433;background: #ffffff;line-height: 25px;z-index: 1;}
.srch_keyword li{position:relative}
.srch_keyword li a{display:block;padding-left:9px;color:#444;text-align:left;}
.srch_keyword li a:hover{background:#f7f7f7}
.srch_keyword li a.on{background:#f7f7f7}
.srch_keyword li strong{color:#ff3e00}
.srch_keyword li.latest{border-bottom:1px solid #ebe3d9;background-color:#fffcf5}
.srch_keyword li.latest a:hover{background-color:#fffcf5}
.srch_keyword li.latest .sdate{position:absolute;top:-1px;right:25px;font-size:10px;font-family:tahoma;color:#c3bbae}

/* 검색 결과 영역 */
.bxScroll {margin:0 0 7px 0;padding:10px 20px 0 20px;font-size:11px;height:265px; max-height: 265px;overflow:hidden;position:relative;overflow-y:scroll;background-color:#f7f7f7;}
.bxScroll dl{position:relative;padding:10px 0 0 0;*padding:10px 0 10px 0;border-bottom:1px solid #ebebeb;}
.bxScroll dt{float:right;position:absolute;top:45%;right:0;margin-top:-7px;}
.bxScroll dd{display:inline-block;margin-bottom:8px;*margin-bottom:5px;line-height:20px;word-break: break-all;}
.bxScroll dd span{display:inline-block;float:left;text-align:left;padding:0 10px 0 0;}
.bxScroll dd span.road{width:35px;}
.bxScroll dd span.road span{display:inline-block;background: url(https://image.homeplus.co.kr/images/2014/mypage/layer/icon_wname.png) no-repeat;width:34px;height:16px;text-indent:-9999px;}
.bxScroll dd span.road .w_name01{background-position:0 0;}
.bxScroll dd span.road .w_name02{background-position:0 -24px;}
.bxScroll dd span.address{width:250px;line-height:16px;}
.lotNum dl{padding:8px 0 1px 0;overflow:hidden;}
.lotNum dl dt{position: inherit;margin-top:3px;*margin-top:-3px;}
.lotNum dl dd{float: left; margin-bottom:5px;}
.bxEmpty{margin:0 0 10px 0;padding:10px 18px;font-size:11px;height:170px;overflow:hidden;position:relative;background-color:#f7f7f7;}
.bxEmpty span{display: inline-block;padding:5px 0;line-height:20px;}
.bxEmpty span em{color:#ff140a;}
.searchResult{display:inline-block;margin-bottom:8px;padding:0;font-size:11px;color:#666;}
.searchResult em{color:#ff140a;}
.pagingNavi em,.pagingNavi a {
    display: inline-block;
    padding: 0 4px;
    min-width: 10px;
    height: 20px;
    margin-left: 3px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 11px;
}
.pagingNavi em {
    background-color: #aaa;
    border: 1px solid #8a8a8a;
    color: #fff;
}

/* 우편번호 추가 스타일 끝 */