/* 캘린더모드 ui-kit.css 맨 아래에 추가할 것 */
.ui.table.calendar-mode th,td {
  border-left: solid 1px #eee!important;
  border-right: solid 1px #eee!important;
  border-bottom: solid 1px #eee!important;
}
.ui.table.calendar-mode td:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
.ui.table.calendar-mode div.dateArea {
  height: 100px;
  position: relative;
}