@charset "utf-8";

/**
 * 기본 스타일 정의
 */
html {height:100%;font-family:dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px;}
body {height:100%;background-color:#fff;line-height:1.5;color:#333;}
a {color:#333;text-decoration:none;cursor:pointer;}
.content {position:relative; /*padding:38px 30px 30px 30px;*/}

/**
* Dimmed
*/
.com #outage {position:fixed;top:0px;right:0px;bottom:0px;left:0px;background-color:#000;opacity:0.4;filter:alpha(opacity=60);z-index:1;}

/**
 * Layout
 */
/*@media screen and (max-width:1359px) {
	.layout.wrap {background-position:-220px 0;}
	.layout.aside {left:-220px;}
	.layout.container {padding-left:0;}
}*/
.layout.wrap,
.layout.aside {background:#fff;} /* .container 보다 .aside 가 더 클때 스크롤 시 백그라운드 이미지 하단 잘림 현상때문에 중첩 이미지 사용 */
.layout.wrap {position:relative;min-width:980px;width:100%;min-height:100%;z-index:1;}
.layout.aside {position: absolute;top:0;left:0;z-index:200;width:230px;height: 100%;overflow: auto;}
.layout.aside .logo {background-color: #334a64;position: absolute;z-index: 11;width: 100%;}
.layout.aside .menu-group {position: relative;top: 167px;/*border-right: 1px solid #DDE1E3;*/}
.layout.aside .aside-userinfo {color: #fff; font-size: 11px;}
.layout.aside .aside-userinfo .vline {color: #99a4b8;}
.layout.container {position:relative;z-index:190;padding-left:230px;}
.layout.header {position:relative;z-index:200;padding:20px 0 22px 50px;background-color:#484b56;*zoom:1;}
.layout.header:before,
.layout.header:after {display:table;content:'';}
.layout.header:after {clear:both;}
.layout.contents {padding:52px 50px 80px}

/**
 * 작은 모니터 대응
 * Aside, container 영역 토글
 */
.collapse-fold .layout.wrap,
.collapse-fold .layout.aside,
.collapse-fold .layout.container,
.collapse-fold .layout.contents,
.collapse-fold .wrap-btn-fold,
.collapse-fold .layout.header .logo-sm {
    -webkit-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
}
.collapse-fold .layout.wrap {
    -webkit-transition-property:background-position;
    transition-property:background-position;
}
.collapse-fold .layout.aside {
    -webkit-transition-property:left;
    transition-property:left;
}
.collapse-fold .layout.container,
.collapse-fold .layout.contents {
    -webkit-transition-property:padding;
    transition-property:padding;
}
.collapse-fold .wrap-btn-fold {
    -webkit-transition-property:margin-left;
    transition-property:margin-left;
}
.collapse-fold .layout.header .logo-sm {
    -webkit-transition-property:width, margin-right;
    transition-property:width, margin-right;
}
.window-sm .wrap-btn-fold {display:block;}
.window-sm.aside-fold .layout.header .logo-sm {width:70px;margin-right:40px;}
.aside-fold .wrap-btn-fold {margin-left:-10px;}
.aside-fold .wrap-btn-fold .btn-fold-aside {background-position:-40px 0;}
.aside-fold .layout.wrap {background-position:-210px 0;}
.aside-fold .layout.aside {left:-210px;}
.aside-fold .layout.container {padding-left:10px;}
.aside-fold .layout.contents {padding:40px 30px 80px;}

/**
 * Aside
 */
/* Snb */
.layout.aside .logo > .admin-title {display:block;padding:21px 30px 15px;text-align: center;}
.layout.aside .logo > .admin-title > img {display:inline-block; margin: 0 auto;}
.layout.aside .list-snb {border-bottom:1px solid #c1cbd5;}
.layout.aside .list-snb > li {position: relative; border-top:1px solid #dde3e8;}
.layout.aside .list-snb > li.ative a:after {content: '';position: absolute;top: 0;left: 0;width: 10px;background-color: red;}
.layout.aside .list-snb > li > a {display: block;position: relative;padding: 10px 20px;font-size: 12px;line-height: 20px;color: #3d404b;text-decoration: none;-webkit-transition: all .25s ease;transition: all .25s ease;}
.layout.aside .list-snb > li > a:after {position:absolute;top:10px;right:19px;font-family:fontawesome;font-size:18px;color:#a5b4c3;content:'\f107';}
.layout.aside .list-snb > li > a.single:after {content:none;}
.layout.aside .list-snb > li.active > a:after {content:'\f106';}
/*.layout.aside .list-snb > li.active .collapse {height:auto;}*/
.layout.aside .list-snb .sub-menu {padding:15px 0;border-top:1px solid #dde3e8;background-color: #F6F7F9;line-height:34px;}
.layout.aside .list-snb .sub-menu > li > a {display: block;position: relative;padding-left: 30px;color: #666;height: 25px;line-height: 25px;margin-bottom: 1px;}
.layout.aside .list-snb .sub-menu > li > a:hover {background-color: #707b92; color: #fff;}
.layout.aside .list-snb .sub-menu > li.selected > a {background-color: #707b92; color: #fff;}
.layout.aside .list-snb .sub-menu > li.disabled  {
    display: block;position: relative;padding-left: 30px;color: #ccc;height: 25px;line-height: 25px;margin-bottom: 1px;
}
.layout.aside .list-snb .sub-menu .title-depth2 {padding: 15px 0 0 30px; margin-top: 15px;font-weight: bold;color: #00a8d1;border-top: 1px solid #dde3e8;}
.layout.aside .list-snb .sub-menu .title-depth2:first-child {padding-top: 0; margin-top: 0; border-top: 0;}
.layout.aside .list-snb .label-num {position:absolute;top:4px;right:20px;padding:1px 5px 3px;border-radius:20px;background-color:#7E8A9F;font-family:tahoma;font-weight:bold;font-size:11px;line-height:13px;color:#fff;}
.layout.aside .list-snb > li > a > .label-num {top:17px;}
.layout.aside .list-snb .view-all-menu {position:relative;margin-bottom:-1px;border-width:1px 0;border-style:solid;border-color:#ced6de;}
.layout.aside .list-snb .view-all-menu .menu:after {font-size:14px;content:'\f0c9' !important;}
.layout.aside .list-snb > li.active > a:before {content: '';position: absolute;top: 0;left: 0;width: 3px;height: 100%;background-color: #ea3347;}
.layout.aside .list-snb .layer-all-menu {overflow:hidden;position:absolute;top:-1px;left:100%;z-index:201;width:0;opacity:0;-webkit-transition:width .25s ease, opacity .35s ease;transition:width .25s ease, opacity .35s ease;}
.layout.aside .list-snb .view-all-menu.active .menu {border-color:#647186;background-color:#677488;color:#fff;}
.layout.aside .list-snb .view-all-menu.active .menu:after {color:#fff;}
.layout.aside .list-snb .view-all-menu.active .layer-all-menu {width:1200px;opacity:1;}
.layout.aside .list-snb .layer-all-menu .list {width:1198px;border:1px solid #677488;background-color:#fff;*zoom:1;}
.layout.aside .list-snb .layer-all-menu .list:before,
.layout.aside .list-snb .layer-all-menu .list:after {display:table;content:'';}
.layout.aside .list-snb .layer-all-menu .list:after {clear:both;}
.layout.aside .list-snb .layer-all-menu .list li {float:left;width:199px;border-left:1px solid #f0f0f0;font-family:'noto';}
.layout.aside .list-snb .layer-all-menu .list li:first-child {width:198px;border-left:0;}
.layout.aside .list-snb .layer-all-menu .list .tit-menu {display:block;padding-left:30px;background-color:#f4f6f8;font-weight:normal;font-size:16px;line-height:52px;color:#5a778e;}
.layout.aside .list-snb .layer-all-menu .wrap-cont {position:relative;height:478px;padding:30px 0 0 30px;}
.layout.aside .list-snb .layer-all-menu .wrap-cont dl {height:102px;}
.layout.aside .list-snb .layer-all-menu .wrap-cont dl:last-child {height:auto;}
.layout.aside .list-snb .layer-all-menu .wrap-cont dt {font-size:16px;line-height:1;}
.layout.aside .list-snb .layer-all-menu .wrap-cont dd {padding-top:8px;font-size:13px;line-height:18px;color:#888;}
.layout.aside .list-snb .layer-all-menu .wrap-guide-btn {position:absolute;right:22px;bottom:30px;left:22px;}
.layout.aside .list-snb .layer-all-menu .wrap-guide-btn .button {position:relative;margin:6px 0 0;text-align:left;}
.layout.aside .list-snb .layer-all-menu .wrap-guide-btn .button:first-child {margin-top:0;}
.layout.aside .list-snb .layer-all-menu .wrap-guide-btn .button .fa-angle-right {position:absolute;top:9px;right:12px;font-size:14px;color:#aaa;}
.layout.aside .list-snb .layer-all-menu .btn-close {overflow:hidden;position:absolute;right:1px;bottom:1px;width:40px;height:40px;border:0;background:#caced3 url("ico-close-all-menu.png.html") no-repeat 50% 50%;text-indent:-9999px;}

/* 파트너 버튼 + 배너 */
.layout.aside .dropdown-btn-area {padding:20px 15px 0;}
.layout.aside .dropdown-btn-area .dropdown-btn [class^="btn-"] {display:block;position:relative;margin-top:6px;padding:13px 14px;border:1px solid #c7d2db;background-color:transparent;text-decoration:none;cursor:pointer;*letter-spacing:-2px;*zoom:1;}
.layout.aside .dropdown-btn-area .dropdown-btn [class^="btn-"]:before,
.layout.aside .dropdown-btn-area .dropdown-btn [class^="btn-"]:after {display:table;content:'';}
.layout.aside .dropdown-btn-area .dropdown-btn [class^="btn-"]:after {clear:both;}
.layout.aside .dropdown-btn-area .dropdown-btn .btn-penalty {margin-top:0;}
.layout.aside .dropdown-btn-area .dropdown-btn [class^="btn-"] .ico-aside {float:left;width:21px;height:22px;margin-right:10px;}
.layout.aside .dropdown-btn-area .dropdown-btn .btn-penalty .ico-aside {background-position:0 0;}
.layout.aside .dropdown-btn-area .dropdown-btn .btn-education .ico-aside {background-position:0 -25px;}
.layout.aside .dropdown-btn-area .dropdown-btn .btn-voice .ico-aside {height:21px;margin-top:1px;background-position:0 -50px;}
.layout.aside .dropdown-btn-area .dropdown-btn [class^="btn-"] .txt {float:left;font-family:'noto';font-size:14px;color:#5a778e;}
.layout.aside .dropdown-btn-area .dropdown-btn [class^="btn-"] .fa {position:absolute;top:15px;right:14px;font-size:18px;color:#a5b4c3;}
.layout.aside .dropdown-btn-area .dropdown-banner {margin-top:20px;}
.layout.aside .dropdown-btn-area .dropdown-banner > a {display:block;}
.layout.aside .hmp-dropdown-guide {position:relative;margin-top:20px;}
.layout.aside .hmp-dropdown-guide .button {border-color:#c7d2db;box-shadow:none;font-size: 12px; letter-spacing: -1px;}
.layout.aside .hmp-dropdown-guide .layer-menu {display:none;position:absolute;top:100%;right:0;left:0;margin-top:-1px;border-width:0 1px 1px;border-style:solid;border-color:#a9b3bc;}
.layout.aside .hmp-dropdown-guide .layer-menu ul {overflow-x:hidden;overflow-y:scroll;max-height:172px;border-top:1px solid #c7d2db;background-color:#fff;}
.layout.aside .hmp-dropdown-guide .layer-menu a {display:block;padding-left:10px;line-height:34px;color:#666;text-decoration:none;}
.layout.aside .hmp-dropdown-guide .layer-menu a:hover {background-color:#f7f7f7;}
.layout.aside .hmp-dropdown-guide.active .button {border-color:#a9b3bc;}
.layout.aside .hmp-dropdown-guide.active .layer-menu {display:block;}

/**
 * Title
 */
.com.wrap-title {position:relative;*zoom:1;}
.com.wrap-title:before,
.com.wrap-title:after {display:table;content:'';}
.com.wrap-title:after {clear:both;}
.com.wrap-title.has-border {padding-bottom:10px;border-bottom:2px solid #4C4C4C;}
.com.wrap-title .title {float:left;padding:0;font-weight:normal;font-size:20px;line-height:20px;color:#212121;}
.com.wrap-title.sub {margin-top:17px;padding-bottom:5px;}
.com.wrap-title.sub .title {margin-bottom:0;border-bottom:0;font-weight:bold;font-family:dotum;font-size:14px;color:#212121;line-height:inherit;letter-spacing: -1px;}
.com.wrap-title .info-list:before,
.com.wrap-title .info-list:after {display:table;content:'';}
.com.wrap-title .info-list:after {clear:both;}
.com.wrap-title .info-list dl {position:relative;top:8px;}
.com.wrap-title .info-list dl dt,
.com.wrap-title .info-list dl dd {position:relative;float:left;font-size:11px;color:#666;}
.com.wrap-title .info-list dl dt {font-weight:bold;}
.com.wrap-title .info-list dl dd {position:relative;padding:0px 16px 0px 4px;}
.com.wrap-title .info-list dl dd:last-child {padding:0px 0px 0px 4px;}
.com.wrap-title .info-list dl dd:after {display:block;content:'';position:absolute;top:2px;right:7px;width:1px;height:10px;background-color:#ddd;}
.com.wrap-title .info-list dl dd:last-child:after {content:none;}

/**
* Layer Title
*/
.com.layer-wrap-title {position:relative;*zoom:1;}
.com.layer-wrap-title:before,
.com.layer-wrap-title:after {display:table;content:'';}
.com.layer-wrap-title:after {clear:both;}
.com.layer-wrap-title.has-border {padding-bottom:16px;border-bottom:1px solid #eee;}
.com.layer-wrap-title .title {float:left;padding:0;font-weight:normal;font-size:20px;line-height:28px;color:#333;}
.com.layer-wrap-title .button-layer-close {position:absolute;top:0px;right:0px;width:25px;height:24px;background-image:url("button-layer-close.png.html");background-repeat:no-repeat;background-color:transparent;font-size:0px;text-indent:-9999em;}

/**
* Layer
*/
.com.layer {position:relative;top:0;padding:0;z-index:2;}
.com.layer > .inner {width:544px;}
.com.layer > .inner:before,
.com.layer > .inner:after {display:table;content:'';}
.com.layer > .inner:after {clear:both;}
.com.layer .box-gray {padding:12px 18px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background-color:#f9f9f9;}
.com.layer .box-mint {padding:18px 20px 17px;background-color:#f7fbfb;}

/**
* Popup
*/
.com.wrap-popup.system{
    position:relative;
    top:0;
    left:0;
    z-index:2;
    /*padding: 16px;*/
    background: #f6f7f9;
    transform:none;
    /*box-shadow: none;*/
}
.com.wrap-popup {position:fixed;top:50%;left:50%;z-index:2;padding:30px;background-color:#F6F7F9;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.07);}
.com.wrap-popup:before,
.com.wrap-popup:after {display:table;content:'';}
.com.wrap-popup:after {clear:both;}

/**
* Popup Size
*/
.com.wrap-popup.small {width: 420px;margin: 0 auto;border-radius: 3px;}
.com.wrap-popup.medium {width: 546px;margin: 0 auto;border-radius: 3px;}
.com.wrap-popup.large {width:740px;margin: 0 auto;border-radius: 3px;}
.com.wrap-popup.xlarge {width:1024px;margin: 0 auto;border-radius: 3px;}
.com.wrap-popup.xlarge2 {width:1200px;margin: 0 auto;border-radius: 3px;}
.com.wrap-popup.xlarge3 {width:1230px;margin: 0 auto;border-radius: 3px;}
.com.wrap-popup.xlarge4 {width:1400px;margin: 0 auto;border-radius: 3px;}
/**
* Popup Title
*/
.com.popup-wrap-title {position:relative;*zoom:1;}
.com.popup-wrap-title:before,
.com.popup-wrap-title:after {display:table;content:'';}
.com.popup-wrap-title:after {clear:both;}
.com.popup-wrap-title.has-border {padding-bottom:11px;border-bottom:2px solid #47aab1;}
.com.popup-wrap-title .title {
    margin-bottom: 0;
    border-bottom: 0;
    font-weight: bold;
    font-family: dotum;
    font-size: 15px;
    color: #212121;
    line-height: inherit;
    letter-spacing: -1px;
}
.com.popup-wrap-title.sub {margin-top:37px;padding-bottom:10px;}
.com.popup-wrap-title.sub .title {margin-bottom:0;border-bottom:0;font-weight:bold;font-size:14px;color:#80999a;line-height:inherit;}
.com.popup-wrap-title .info-list:before,
.com.popup-wrap-title .info-list:after {display:table;content:'';}
.com.popup-wrap-title .info-list:after {clear:both;}
.com.popup-wrap-title .info-list dl {position:relative;top:4px;}
.com.popup-wrap-title .info-list dl dt,
.com.popup-wrap-title .info-list dl dd {position:relative;float:left;font-size:11px;color:#666;}
.com.popup-wrap-title .info-list dl dt {font-weight:bold;}
.com.popup-wrap-title .info-list dl dd {position:relative;padding:0px 16px 0px 4px;}
.com.popup-wrap-title .info-list dl dd:last-child {padding:0px 0px 0px 4px;}
.com.popup-wrap-title .info-list dl dd:after {display:block;content:'';position:absolute;top:2px;right:7px;width:1px;height:10px;background-color:#ddd;}
.com.popup-wrap-title .info-list dl dd:last-child:after {content:none;}
.com.wrap-popup  .ui.wrap-table.scroll-h {min-width:740px;}
.com.popup-wrap-title .button.small {min-width:55px;}
.com.popup-wrap-title .addtext {
    font-size: 11px;
    color: #999;
    letter-spacing: -.5;
}
.com.popup-wrap-title .separateline {
    display: inline-block;
    position: relative;
    top: 1px;
    padding: 0 3px;
    vertical-align: middle;
    color: #d8d8d8;
}

/**
*Tab Setting
*/
.com.wrap-popup .ui.tab > li {width:184px;}

/**
* Dot
*/
.com.dot-single {position:relative;padding-left:6px;line-height:normal;font-size:12px;color:#666;}
.com.dot-single:before {display:block;content:'';position:absolute;top:7px;left:0px;width:2px;height:2px;background-color:#666;}
.com.dot-single.sm {font-size:11px;}
.com.dot-single.sm:before {top:5px;left:0px;width:2px;height:2px;}
.com.dot-list li {position:relative;margin-bottom:6px;padding-left:6px;line-height:16px;font-size:12px;color:#999;}
.com.dot-list li:last-child {margin-bottom:0px;}
.com.dot-list li:before {display:block;content:'';position:absolute;top:7px;left:0px;width:2px;height:2px;background-color:#999;}
.com.dot-list li.mint {color:#00a6af;}
.com.dot-list li.mint:before {background-color:#00a6af;}

/**
* 로딩박스
*/
.com.wrap-loading {position: fixed;top:0;right:0px;bottom:0px;left:0;text-align:center;z-index:999;}
.com.wrap-loading > .loading {position: absolute;left:50%;top:50%;width:186px;height:21px;margin:-10px 0 0 -93px;padding:20px 0;border:1px solid #393939;background-color: #fff;color:#393939;font-size:14px;font-weight:bold;text-align:center;}
.com.wrap-loading > .loading > .text {display:inline-block;margin-left:3px;margin-top:4px;}

/* 로그인 페이지 */
.login-page {position: absolute;width: 100%;height: 100%;background-color: #626D83;}
.login-form {padding: 39px 30px;border-radius: 3px;background-color: #fff;}
.login-form p {margin-bottom: 35px;font-size: 11px;color: #999;letter-spacing: -1px;}
.login-form .ui input {height: 46px;}
.login-form button {display: block;width: 100%;}
.login-form button.pw-reset {height: 30px!important;font-family: dotum!important;font-size: 11px!important;font-weight: normal!important;color: #999;letter-spacing: -1px;}
.login-wrap h1 {width: 100%;height: 70px;}
.login-wrap .logo img {width: 112px;}
.login-wrap .admin-name {position: relative;top: 11px;font-size: 28px;font-weight: normal;color: white;letter-spacing: -1px;}
.login-wrap .version {display: inline-block;width: 100%;color: #98a3b9;font-family: tahoma;font-size: 10px;text-align: center;letter-spacing: 1px;}
.layout.aside .admin-name {position: relative;top: 3px;display: inline-block;margin-bottom: -16px;text-align: center;font-size: 19px;font-weight: normal;color: rgb(188, 196, 213);}
.layout.container .top-border {width: 100%;height: 8px;background-color: #334a64;}

/* 이미지 등록 */
.preview-image {
    position: relative;
    display: inline-block;
    min-width: 132px;
    height: 160px;
    padding: 3px;
    vertical-align: top;
    background-color: #eef3fb;
}
.preview-image .ui.button.medium.delete-thumb {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 26px;
    font-size: 14px;
}
/* 필수값 */
.spot {
    vertical-align: middle;
    font-size: 14px;
    color: #ee5555;
}

.preview-image .ui.button.small.delete-thumb {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 26px;
    font-size: 11px;
    letter-spacing: -1px;
}

/* 우편번호 추가 스타일 시작 */
/* 검색 자동완성 레이어 */
.srch_keyword{position: absolute;top: 192px;left: 83px;width: 237px;padding: 1px 0 3px;border: 1px solid #ffb433;background: #ffffff;line-height: 25px;z-index: 1;}
.srch_keyword li{position:relative}
.srch_keyword li a{display:block;padding-left:9px;color:#444;text-align:left;}
.srch_keyword li a:hover{background:#f7f7f7}
.srch_keyword li a.on{background:#f7f7f7}
.srch_keyword li strong{color:#ff3e00}
.srch_keyword li.latest{border-bottom:1px solid #ebe3d9;background-color:#fffcf5}
.srch_keyword li.latest a:hover{background-color:#fffcf5}
.srch_keyword li.latest .sdate{position:absolute;top:-1px;right:25px;font-size:10px;font-family:tahoma;color:#c3bbae}

/* 검색 결과 영역 */
.bxScroll {margin:0 0 7px 0;padding:10px 20px 0 20px;font-size:11px;height:265px; max-height: 265px;overflow:hidden;position:relative;overflow-y:scroll;background-color:#f7f7f7;}
.bxScroll dl{position:relative;padding:10px 0 0 0;*padding:10px 0 10px 0;border-bottom:1px solid #ebebeb;}
.bxScroll dt{float:right;position:absolute;top:45%;right:0;margin-top:-7px;}
.bxScroll dd{display:inline-block;margin-bottom:8px;*margin-bottom:5px;line-height:20px;word-break: break-all;}
.bxScroll dd span{display:inline-block;float:left;text-align:left;padding:0 10px 0 0;}
.bxScroll dd span.road{width:35px;}
.bxScroll dd span.road span{display:inline-block;background: url("https://image.homeplus.co.kr/images/2014/mypage/layer/icon_wname.png") no-repeat;width:34px;height:16px;text-indent:-9999px;}
.bxScroll dd span.road .w_name01{background-position:0 0;}
.bxScroll dd span.road .w_name02{background-position:0 -24px;}
.bxScroll dd span.address{width:250px;line-height:16px;}
.lotNum dl{padding:8px 0 1px 0;overflow:hidden;}
.lotNum dl dt{position: inherit;margin-top:3px;*margin-top:-3px;}
.lotNum dl dd{float: left; margin-bottom:5px;}
.bxEmpty{margin:0 0 10px 0;padding:10px 18px;font-size:11px;height:170px;overflow:hidden;position:relative;background-color:#f7f7f7;}
.bxEmpty span{display: inline-block;padding:5px 0;line-height:20px;}
.bxEmpty span em{color:#ff140a;}
.searchResult{display:inline-block;margin-bottom:8px;padding:0;font-size:11px;color:#666;}
.searchResult em{color:#ff140a;}
.pagingNavi em,.pagingNavi a {
    display: inline-block;
    padding: 0 4px;
    min-width: 10px;
    height: 20px;
    margin-left: 3px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 11px;
}
.pagingNavi em {
    background-color: #aaa;
    border: 1px solid #8a8a8a;
    color: #fff;
}

/* 우편번호 추가 스타일 끝 */

/* 에디터영역 */
.editorsection_table .tit-head {background-color: #f9f9f9;font-size: 12px;text-align: left;color: #666;}
.editorsection_table .pd-1012 {padding: 10px 12px;}

/* 그리드 가로 스크롤 시 오류 */
.gridbox_dhx_web.gridbox table.hdr,
.gridbox table.obj{border-collapse:separate}
.gridbox_dhx_web.gridbox table.obj tr td{border-top:none;border-left:none}

/* 클레임 */
/* 클레임 공통 */
.wrap-title .btn_cls{position:absolute;width:25px;height:25px;top:0;right:0;background:url("../images/button-layer-close2.png") 0 0 no-repeat;font-size:0;color:transparent}
.claim_price_wrap .ui.wrap-table{border-width:0 0 1px;overflow:hidden}
.claim_price_wrap table{margin-top:-1px;table-layout:fixed}
.claim_price_wrap .wrap-table .ui.table td{padding-right:20px;padding-left:20px;line-height:22px;color:#666}
.claim_price_wrap table .p_total td{position:relative}
.claim_price_wrap table tr ~ tr td{vertical-align:top}
.claim_price_wrap .calc_price{background:#f9f9f9}
.claim_price_wrap .price_calc{position:absolute;width:14px;height:14px;top:50%;left:-7px;margin-top:-7px;background:#ef5555;font-size:18px;line-height:16px;color:#fff}
.claim_price_wrap dl{padding:3px 0 5px;text-align:left;overflow:hidden}
.claim_price_wrap .p_total dl,
.claim_price_wrap dl.text-red{padding-top:0;padding-bottom:0;font-weight:bold}
.claim_price_wrap dt{float:left}
.claim_price_wrap dd{text-align:right;overflow:hidden}
.con-claim .box-gray,
.pop_claim .box-gray{padding:5px 8px;border-bottom:1px solid #eee;background:#f9f9f9}
.con-claim select.ui.input,
.content.pop_claim select.ui.input,
.con-claim input[type=text],
.content.pop_claim input[type=text],
.con-claim .ui.checkbox{display:inline-block}
.con-claim .ui.radio,
.content.pop_claim .ui.radio{display:inline-block;margin-right:20px;color:#666}
.con-claim .ui.table td a,
.pop_claim .ui.table td a{text-decoration:underline}
.box-gray select{float:left}
.box-gray select ~ div{padding-left:5px;overflow:hidden}
.con-claim td label ~ select,
.pop_claim td label ~ select{margin:0 6px 0 3px}
.con-claim td .wrap-table,
.pop_claim td .wrap-table,
.box-border .ui.wrap-table{margin-top:14px;margin-bottom:3px}
.con-claim td .ui.wrap-table th,
.pop_claim td .ui.wrap-table th,
.box-border .ui.wrap-table th{height:35px;padding:5px 20px;vertical-align:middle}
.con-claim td .ui.wrap-table td,
.pop_claim td .ui.wrap-table td,
.box-border .ui.wrap-table td{height:35px;padding:5px;vertical-align:middle}

/* 클레임 바닥 */
.con-claim .ui.wrap-table{border-right:0;border-left:0}
.con-claim .ui.wrap-table .table{table-layout:fixed}
.con-claim .ui.wrap-table.horizontal .table{table-layout:auto}
.con-claim .ui.table td{padding-right:15px;padding-left:15px;line-height:20px;color:#333}
.con-claim .horizontal .ui.table th{padding-left:20px}
.con-claim .horizontal .ui.table td{padding-right:0}
.con-claim .box-blue{margin-top:7px;padding:13px 10px 16px;background:#eef3fb;letter-spacing:-1px}
.con-claim .box-blue dl{overflow:hidden}
.con-claim .box-blue dt{float:left;color:#8ea6cc}
.con-claim .box-blue dt ~ dt:before{content:'|';margin-right:10px}
.con-claim .box-blue dd{float:left;margin-right:13px;margin-left:6px;font-weight:bold;color:#56657e}
.con-claim .box-blue dd a{text-decoration:underline}
.con-claim .com.wrap-title.sub{margin-top:28px}
.con-claim .com.wrap-title.sub .text-red{margin-left:10px;font-weight:normal;font-size:11px}
.con-claim td .wrap-table{width:800px}
.con-claim .ui.checkbox input[type="checkbox"] + span{padding-left:16px}
.con-claim td .abbreviate{text-align:left}
.con-claim td strong.text-red.text-right{float:left;margin-top:1px;margin-right:5px}

/* 클레임 팝업 */
.content.pop_claim{width:740px;padding:30px 30px 40px;line-height:22px}
.content.pop_claim .ui.button.medium{min-width:56px}
.content.pop_claim .text-gray-Lightest{color:#aaa}
.pop_claim .wrap-title h2.title{font-weight:bold}
.pop_claim .wrap-title .tit_desc{height:20px;font-size:11px;line-height:22px;text-align:right;overflow:hidden}
.pop_claim .claim_prd_wrap .ui.wrap-table{border-width:1px 0;overflow:auto}
.pop_claim .claim_prd_wrap .ui.table{table-layout:fixed}
.pop_claim .claim_prd_wrap .ui.table td{padding:6px 7px;line-height:16px}
.pop_claim .claim_prd_wrap .prd_tit{padding:4px 16px;text-align:left;white-space:nowrap;text-overflow:ellipsis;color:#333;overflow:hidden}
.pop_claim .claim_prd_wrap tr.opt td{color:#999}
.pop_claim .claim_prd_wrap .opt_tit{padding:4px 16px;text-align:left;color:#999}
.pop_claim .claim_prd_wrap tr.opt .opt_tit{padding:4px 39px}
.pop_claim .button-group{margin-top:13px;text-align:center}
.pop_claim .claim_price_wrap{margin-top:14px}
.pop_claim .wrap-table.horizontal th{line-height:20px;vertical-align:top}
.pop_claim .wrap-table.horizontal td{padding-right:0;padding-left:20px}
.pop_claim .wrap-title.sub{padding-bottom:12px}
.pop_claim .wrap-title.sub h3.title{font-size:15px}
.pop_claim .box-border{margin-top:15px;padding:17px 17px 15px;border:1px solid #ccc}
.pop_claim .box-border h4{padding-bottom:4px;line-height:18px;overflow:hidden}
.pop_claim .box-border .text-gray-Lightest{margin-left:10px;font-weight:normal;font-size:11px}
.pop_claim .box-border .ui.wrap-table td{padding-right:0;padding-left:15px}
.pop_claim .center-button-group button.xlarge{height:47px;font-size:12px}
.pop_claim .claim-info{min-height:165px;margin-top:10px;border:1px solid #ddd;border-width:1px 0}
.pop_claim .claim-info .box-gray label{margin-right:10px;margin-left:25px;color:#666}
.pop_claim .claim-info .claim-notice{max-height:165px;overflow:auto}
.pop_claim .claim-info .claim-notice ul{padding:10px 13px 13px}
.pop_claim .claim-info .box-gray ~ .claim-notice{max-height:129px}

/* 주문배송 트래킹 팝업 */
.order.delivery_step p{display:block; margin: 0 auto;width:534px;height:85px;background:url(../images/adminweb_delivery_tracking.png) no-repeat;text-indent:-9999px;}
.order.delivery_step .step_0{background-position:0 0;}
.order.delivery_step .step_1{background-position:0 -134px;}
.order.delivery_step .step_2{background-position:0 -268px;}
.order.delivery_step .step_3{background-position:0 -402px;}
.order.delivery_step .step_4{background-position:0 -536px;}
.order.delivery_step .step_5{background-position:0 -670px;}

.star-alignment {
position: relative;
}
.star-alignment span.text-red {
position: absolute;
float: left;
top: 2px;
left: -7px;
}
.badge-agree {
display: inline-block;
padding: 2px 7px;
font-weight: normal;
text-align: center;
background-color: #82d3ff;
border-radius: 28px;
font-size: 11px;
color: #fff;
}
.badge-agree:hover {
background-color: #74c0e9;
}

.box-notice {
padding: 10px;
background: #eef3fb;
}
.box-notice .box-notice-content {
display: inline-block;
box-sizing: border-box;
width: 100%;
padding: 10px;
background-color: #fff;
border: 1px solid #ddd;
letter-spacing: normal;
}
.box-notice .box-notice-content li {
display: inline-block;
}

/* ************************************************************
 * Pagination2
************************************************************* */
.pagination{width:100%;margin-top:10px;text-align:center;}
.pagination .inner{display:inline-block;}
.pagination .link-page,
.pagination .btn-move{position:relative;float:left;display:inline-block;border:1px solid transparent;margin:0 3px;min-width:25px;height:25px;line-height:25px;font-weight:bold;font-size:12px;vertical-align:middle;color:#666;z-index:2;}
.pagination .btn-move i{margin:8px 2px 0 2px;width:9px;height:8px;background:url('//image.homeplus.co.kr/images/resources_v2/partner/common/ico_common.png') no-repeat;display:inline-block;overflow:hidden;text-indent:-999px;}
.pagination .btn-first i{background-position:-200px -160px;}
.pagination .btn-first:hover i{background-position: -200px -210px;}
.pagination .btn-prev i{background-position:-200px -192px;}
.pagination .btn-prev:hover i{background-position:-200px -242px;}
.pagination .btn-last i{background-position:-241px -160px;}
.pagination .btn-last:hover i{background-position:-241px -210px;}
.pagination .btn-next i{background-position:-245px -192px;}
.pagination .btn-next:hover i{background-position:-245px -242px;}
.pagination .link-page:hover{color:#666;border:1px solid #ddd;}
.pagination .link-page.active{background-color:#ee5555;color:#fff;font-weight:bold;cursor:default;border:none;}
.pagination .btn-prev{margin-right:8px;}
.pagination .btn-next{margin-left:8px;}


.text-red-star:after {content: "*";color: red; margin: 2px 0px 0px 3px;vertical-align: sub;}
.table-inner {border: solid 1px #eee;border-collapse: initial;}
.table-inner th {font-weight:normal !important;}
.ui-autocomplete {max-height: 200px; overflow-y: auto; overflow-x: hidden;}
.ui-menu-item-wrapper {font-size:12px; width:224px; cursor:pointer;}

/**
* TODO: 임시 사용, 삭제 예정
*/
.btn_close {margin-left:2px;min-width:15px;height:15px;font-size:6px;line-height:12px;border-radius:2px;background-color:#f9f9f9;color:#999;border-radius:2px;border:solid 0.5px #ccc;}
