@charset "utf-8";

/*@font-face{
	font-family:'Noto Sans KR';
	src: url('../fonts/NotoSans-Regular.eot');
	src: url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans-Regular.woff') format('woff');
		url('../fonts/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}*/
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src: local('NanumBarunGothic');
	src: url('../fonts/NanumBarunGothic.woff2') format('woff2'),
	url('../fonts/NanumBarunGothic.woff') format('woff');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 500;
	src: local('NanumBarunGothic');
	src: url('../fonts/NanumBarunGothicBold.woff2') format('woff2'),
	url('../fonts/NanumBarunGothicBold.woff') format('woff');
}