/* common */
.float:after { content: ''; display: block; clear: both; }
.float-l { float: left;}
.float-r { float: right;}
.block { display: block; }
.inline-b { display: inline-block;}

.align-l { text-align: left}
.align-r { text-align: right}
.valign-t { vertical-align: top;}

.mgt0 { margin-top: 0px !important;}
.mgt5 { margin-top: 5px !important;}
.mgt10 { margin-top: 10px !important;}
.mgt15 { margin-top: 15px !important;}
.mgt20 { margin-top: 20px !important;}
.mgt25 { margin-top: 25px !important;}
.mgt30 { margin-top: 30px !important;}
.mgt40 { margin-top: 40px !important;}
.mgb0 { margin-bottom: 0px !important;}
.mgb10 { margin-bottom: 10px !important;}
.mgb15 { margin-bottom: 15px !important;}
.mgl5 { margin-left: 5px;}
.mgl10 { margin-left: 10px;}
.mgr0 { margin-right: 0px !important;}
.mgr10 { margin-right: 10px !important;}
.mgr20 { margin-right: 20px !important;}
.mgr30 { margin-right: 30px !important;}
.pdr0 { padding-right: 0 !important;}
.pdt15 { padding-top: 15px !important;}
.pdt20 { padding-top: 20px !important;}

.w-max { width: 100% !important; }
.w-half {width: calc(50% - 4px) !important}
.w-490 { width: 490px !important; }
.w-374 { width: 374px !important; }
.w-325 { width: 325px !important; }
.w-260 { width: 260px !important; }
.w-257 { width: 257px !important; }
.w-250 { width: 250px !important; }
.w-230 { width: 230px !important; }
.w-200 { width: 200px !important; }
.w-180 { width: 180px !important; }
.w-160 { width: 160px !important; }
.w-120 { width: 120px !important; }
.w-110 { width: 110px !important; }
.w-80 { width: 80px !important; }

/* [FRONTEND-476] 추가 */
.w-180 { width: 180px !important; }
.w-114 { width: 114px !important; }
.w-96 { width: 96px !important; }
.w-60 { width: 60px !important; }
.w-50 { width: 50px !important; }

/* [FRONTEND-920] 추가 */
.font-barun {
    font-family: 'NanumBarunGothic', 'Apple SD Gothic Neo', '돋움', 'dotum', sans-serif;
}

/* common - title */
.h2 {
    font-size: 21px;
    font-weight: 400;
    color: #333;
}

.h2 span {
    display: inline-block;
    margin-top: 3px;
    vertical-align: middle;
    font-size: 12px;
    color: #999;
    font-weight: 400;
}

.h3 {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.h3 span {
    display: inline-block;
    margin-top: 3px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 400;
}

.h4 {
    font-size: 15px;
    font-weight: 400;
    color: #333;
}

.h3 .tit-sub {
    margin-left: 10px;
    font-size: 15px;
    color: #666;
}

.tit-wrap {
    position: relative;
}

.tit-wrap .txt {
    position: absolute;
    bottom: 13px; right: 0;
}

.tit-wrap .tit-chk {
    position: absolute;
    bottom: 12px; right: 0;
}

.txt {
    font-size: 12px;
    color: #666;
}

.fc01 { color: #333 !important;}
.fc02 { color: #ff3333 !important; }
.fc03 { color: #666 !important;}
.fc04 { color: #999 !important;}
.fc05 { color: #0091ff !important;}

.fs12 { font-size: 12px !important;}
.fs14 { font-size: 14px !important;}
.fs18 { font-size: 18px !important;}

.align-l { text-align: left !important; }
.align-r { text-align: right !important; }
.align-c { text-align: center !important; }
.fw-bold { font-weight: 304; }

.txt-underline { text-decoration: underline;}

.flag {
    display: inline-block;
    height: 20px;
    padding: 0 9px;
    margin-right: 10px;
    font-size: 12px;
    color: #333;
    border: 1px solid #ddd;
}

.flag.type2 {
    color: #ff3333;
    border-color: #ff3333;
}

.flag.type3 {
    color: #0091ff;
    border-color: #0091ff;
}

.ico-new {
    display: inline-block;
    margin-left: 5px;
    width: 13px;
    height: 13px;
    background: url(/static/images/ico_new.png) 0 0 no-repeat;
}

.link {
    font-size: 12px;
    color: #999;
}

a.link {
    text-decoration: underline;
}

/* common - button */
[class*="btn-base"] {
    display: inline-block;
    padding: 0 15px;
    height: 32px;
    line-height: 30px;
    font-size: 15px;
    color: #666;
    vertical-align: middle;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

[class*="btn-base"] i {
    display: inline-block;
    line-height: inherit;
}

/* [FRONTEND-476] 추가 */
[class*="btn-base"].border-type1{
    border-color:#333;
}

.btn-wrap {
    text-align: center;
    font-size: 0;
}

.btn-wrap [class*="btn-base"] { margin-left: 5px;}
.btn-wrap [class*="btn-base"]:first-child { margin-left: 0;}

.btn-wrap2{
    margin-bottom:20px;
    padding:20px 0;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
}

/* [FRONTEND-920] 추가*/
.btn-base-m {
    min-width: 96px;
    height: 32px;
    padding: 0 4px;
    font-size: 15px;
    letter-spacing: -.38px;
    line-height: 30px;
}

.btn-base-s {
    height: 26px;
    line-height: 24px;
    font-size: 12px;
}

.btn-base-l {
    min-width: 140px;
    height: 38px;
    line-height: 36px;
    font-size: 15px;
    color: #666;
    border: 1px solid #ddd;
    background-color: #fff;
}

[class*="btn-base"].type2 {
    color: #fff;
    background-color: #6d7278;
    border: 0;
}

[class*="btn-base"].type3 {
    color: #fff;
    background-color: #b5bdc6;
    border: 0;
}

[class*="btn-base"].type4 {
    color: #fff;
    border: 0;
    background-color: #ff3333;
}
/* [FRONTEND-920] 추가 */
[class*="btn-base"].type5 {
    color: #333;
    border-color: #333;
    background-color: #fff;
}

.btn-base:disabled { opacity: 0.5;}

.btn-base-l:disabled { background: #c9c9c9;}

.btn-txt {
    text-decoration: underline;
    margin-right: 10px;
}

.btn-txt-ico {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    font-size: 12px;
    color: #333;
    text-decoration: underline;
}

.btn-txt-ico:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 6px; right: 0;
    width: 6px;
    height: 1px;
    background: #000;
    vertical-align: top;
    transform: rotate(45deg);
}

.btn-txt-ico:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 10px; right: 0;
    width: 6px;
    height: 1px;
    background: #000;
    vertical-align: top;
    transform: rotate(-45deg);
}

.btn-tip {
    position: relative;
    width: 13px;
    height: 13px;
    margin-left: 5px;
    background: url(/static/images/btn_tip.png) 0 0 no-repeat;
}

.ui-tooltip {
    display: none;
    position: absolute;
    z-index: 5;
    width: 230px;
    padding: 10px;
    font-size: 11px;
    color: #666;
    line-height: 1.5;
    word-break: break-all;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.ui-tooltip.ps-ct .tt-arrow,
.ui-tooltip.ps-cb .tt-arrow,
.ui-tooltip.ps-lt .tt-arrow,
.ui-tooltip.ps-lb .tt-arrow,
.ui-tooltip.ps-rt .tt-arrow,
.ui-tooltip.ps-rb .tt-arrow {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc
}

.ui-tooltip.ps-ct .tt-arrow {
    left: 50%;
    bottom: -6px;
    transform: rotate(135deg);
    margin-left: -5px
}

.ui-tooltip.ps-lt .tt-arrow {
    left: 0;
    bottom: -6px;
    transform: rotate(135deg);
    margin-left: 10px
}

.ui-tooltip.ps-rt .tt-arrow {
    right: 0;
    bottom: -6px;
    transform: rotate(135deg);
    margin-right: 10px
}

.ui-tooltip.ps-cb .tt-arrow {
    left: 50%;
    top: -6px;
    transform: rotate(-45deg);
    margin-left: -5px
}

.ui-tooltip.ps-lb .tt-arrow {
    left: 0;
    top: -6px;
    transform: rotate(-45deg);
    margin-left: 10px
}

.ui-tooltip.ps-rb .tt-arrow {
    right: 0;
    top: -6px;
    transform: rotate(-45deg);
    margin-right: 10px
}

.btn-close {
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #ebebeb;
}

.btn-close:before,
.btn-close:after {
    content: '';
    display: block;
    width: 1px;
    height: 7px;
    position: absolute;
    top: 3px;
    left: 6px;
    transform: rotate(45deg);
    background: #999;
}

.btn-close:after {
    transform: rotate(-45deg);
}

.btn-close2 {
    display: block;
    width: 20px;
    height: 20px;
}

.btn-close2:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(/static/images/btn_close2.png) 50% 50% no-repeat;
}

[class*="btn-ico"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

[class*="btn-ico"] i {
    display: inline-block;
    line-height: inherit;
}

.btn-ico-re {
    padding: 0 26px 0 12px;
    min-width: 80px;
    height: 26px;
    line-height: 24px;
    font-size: 12px;
    color: #666;
    border: 1px solid #e0e0e0;
    border-radius: 13px;
}

.btn-ico-re:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    right: 7px;
    width: 11px;
    height: 11px;
    background: url(/static/images/ico_refresh.png) 0 0 no-repeat;
}

.btn-ico-exel {
    padding: 7px 15px 6px 35px;
    height: 32px;
    font-size: 15px;
    color: #007732;
    border: 1px solid #007732;
    border-radius: 2px;
}

.btn-ico-exel:before {
    content: '';
    display: block;
    width: 15px;
    height: 14px;
    position: absolute;
    top: 8px;
    left: 15px;
    background: url(/static/images/ico_exel.png) 0 0 no-repeat;
}

.btn-ico-arr {
    min-width: 260px;
    height: 32px;
    background-color: #6d7278;
    font-size: 15px;
    color: #fff;
    border-radius: 2px;
}
.btn-ico-arr:after {
    content: '';
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    margin: 6px 0 0 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    vertical-align: top;
}


[class*="btn-data"] {
    width: 29px;
    height: 26px;
    vertical-align: middle;
    background: url(/static/images/btn_data_down.png) 0 0 no-repeat;
}
.btn-data-top { background-image: url(/static/images/btn_data_top.png);}
.btn-data-up { background-image: url(/static/images/btn_data_up.png);}
.btn-data-bottom { background-image: url(/static/images/btn_data_bottom.png);}

.btn-choice {
    display: inline-block;
    font-size: 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    vertical-align: middle;
}

.btn-choice>button {
    position: relative;
    min-width: 79px;
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 15px;
    color: #999;
    border-left: 1px solid #e0e0e0;
}

.btn-choice>button:first-child { border-left: 0;}

.btn-choice>button.on {
    color: #ff3333;
    font-weight: 400;
}

.btn-choice>button.on:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    border: 1px solid #ff3333;
}

.btn-choice>button.on:first-child:before { border-radius: 2px 0 0 2px;}
.btn-choice>button.on:last-child:before { border-radius: 0 2px 2px 0;}

/* common - form */

label {
    font-size: 15px;
    color: #333;
}

.lb-block {
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.inp-base {
    width: 160px;
    padding: 0 10px;
    height: 32px;
    color: #666;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
    letter-spacing: -0.03em;
    vertical-align: middle;
}

.inp-base-l {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 3px;
}

[class*="inp-base"]::placeholder,
.inp-base-l::placeholder {
    color: #c9c9c9;
    opacity: 1;
}

[class*="inp-base"]::-webkit-input-placeholder{ color: #c9c9c9; }
[class*="inp-base"]:-ms-input-placeholder{ color: #c9c9c9; }
[class*="inp-base"]:active,
[class*="inp-base"]:focus { border: 1px solid #333; }
[class*="inp-base"]:focus { border-color: #000; }
[class*="inp-base"]:disabled,
[class*="inp-base"]:read-only{ opacity: 0.5; background: #eee;}
[class*="inp-base"][disabled],
[class*="inp-base"][readonly]{opacity: 0.5; background: #eee;}

.grid-wrap {
    display: flex;
    align-items: flex-start;

}
.grid-wrap .grid-item {
    width: calc(100% - 10px);
}

.inp-srh {
    width: 100%;
    display: inline-block;
    position: relative;
}

.inp-srh .inp-base {
    width: 100%;
    padding-right: 35px;
}

.inp-srh .btn-srh {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 17px;
    height: 16px;
    background: url(/static/images/ico_srh.png) 0 0 no-repeat;
}

.inp-mail {
    display: flex;
    align-items: center;
}

.inp-mail .slc-base {
    min-width: 150px
}

.inp-mail span {
    margin: 0 5px;
    font-size: 12px;
    color: #333;
}

.inp-wrap .inp-base { margin-right: 2px;}

.inp-dl {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.inp-dl:first-child {margin-top:0}
.inp-dl dt {
    width: 100px;
    color: #333
}
.inp-dl dd .inp-base + .btn-base {margin-left:2px}

.box-srh {
    width: 100%;
    display: inline-block;
    position: relative;
}

.layer-srh {
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 10;
    width: 100%;
    max-height: 130px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.layer-srh.on { display: block;}

.layer-srh .no-result {
    padding: 5px 10px;
    text-align: left;
    line-height: 1.5;
}
.layer-srh li button {
    width: 100%;
    padding: 5px 10px;
    text-align: left;
    line-height: 1.5;
}

.layer-srh li button i { color: #ff3333; }

.layer-srh li button:hover,
.layer-srh li button:focus {
    background: #f1f1f1;
}

[class*="inp-date"] {
    display: inline-block;
    position: relative;
    width: 180px;
}

[class*="inp-date"] .inp-base {
    width: 100%;
    padding: 0 30px 0 10px;
}

[class*="inp-date"] .ui-datepicker-trigger {
    position: absolute;
    top: 8px;
    right: 10px;
}

[class*="inp-date"] .inp-base:disabled + .ui-datepicker-trigger { opacity: 0.3;}

.inp-date-time { width: 180px;}

.textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 15px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.textarea:disabled { background-color: #eee }

.words-wrap {
    width: 100%;
    position: relative;
    display: inline-block;
}

.words-wrap .inp-base { width: 100%;}

.words-wrap .words {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #999;
    margin-top: 3px;
}

.words-wrap .words i { color: #333;}

.words-wrap .txt-err,
.words-wrap .lb-check,
.words-wrap .bul-p {
    position: absolute;
    bottom: 0;
    left: 0;
}

[class*="inp-base"].err,
.textarea.err { border-color: #ff3333; }

.txt-err {
    display: block;
    margin-top: 3px;
    color: #ff3333;
    font-size: 12px;
    letter-spacing: -0.015em;
    text-align: left;
}

/* [FRONTEND-476] 추가 */
.txt-err.type2 {
    display: inline;
    padding-left: 7px;
    white-space: nowrap;
}
.txt-success {
    display: block;
    margin-top: 3px;
    font-size: 12px;
    color: #0091ff;
}

.bul-require {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: -3px 5px 0;
    background: #ff3333;
    border-radius: 100%;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    color: transparent;
}

.bul-p,
.bul-list li {
    position: relative;
    padding-left: 7px;
    font-size: 12px;
    color: #999;
}

.bul-p:before,
.bul-list li:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: #999;
}

.bul-list li { margin-top: 5px;}

input[type="radio"],
input[type="checkbox"] {
    opacity: 0;
    filter: alpha(opacity=0);
    display: inline-block;
    position: absolute;
    z-index: -1;
    vertical-align: top;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.lb-radio,
.lb-check {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    line-height: 1;
}

.lb-radio:before,
.lb-check:before {
    content: "";
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    margin-top: -2px;
    margin-right: 5px;
    vertical-align: middle;
    background: #fff;
}

.lb-radio:before {
    min-width: 14px;
    min-height: 14px;
    border: 1px solid #e0e0e0;
    border-radius: 7px;
}

.lb-radio.only {
    margin: 0;
    font-size: 0;
    color: transparent;
    line-height: 0;
    vertical-align: middle;
}

.lb-radio.only:before {
    margin: 0;
}

.lb-check:before {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}
.lb-check.only:before { margin-right: 0;}

input[type="radio"]:checked+.lb-radio:before {
    min-width: 8px;
    min-height: 8px;
    border: 4px solid #ff3333;
    border-radius: 8px;
}

input[type="checkbox"]:checked+.lb-check:before {
    min-width: 18px;
    min-height: 18px;
    background: url(/static/images/bg_check.png) 50% 50% no-repeat;
    border: 0;
}

input[type="radio"]:disabled+.lb-radio{color:#999;}
input[type="radio"]:disabled+.lb-radio:before{background:#eee;}

/*input[type="radio"]:focus+.lb-radio:before,
input[type="checkbox"]:focus+.lb-check:before {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}*/

/* [FRONTEND-920] 추가 */
.lb-radio2 {
    position: relative;
    display: inline-block;
    padding-left: 26px;
    font-size: 15px;
    color: #333;
    cursor: pointer;
}

.lb-radio2:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 17px;
    min-height: 17px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(/static/images/bg_radio.png) 0 0 no-repeat;
}

input[type='radio']:checked + .lb-radio2:before {
    background: url(/static/images/bg_radio_on.png) 0 0 no-repeat;
}

input[type='radio']:focus + [class*='lb-radio']:before {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}

.lb-radio2.only {
    padding-left: 0;
    font-size: 0;
    vertical-align: middle;
}

.lb-radio2.only:before {
    margin-right: 0;
    position: relative;
}

.radio-tit {
    display: inline-block;
    width: 120px;
    color: #333;
}

.radio-tit.w60{
    width:60px;
}

.radio-group {
    display: inline-block;
    font-size: 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    vertical-align: middle;
}

.radio-group .lb-radio:before { display: none;}

.radio-group .lb-radio {
    min-width: 63px;
    height: 30px;
    padding: 8px 10px;
    font-size: 15px;
    color: #999;
    line-height: 1;
    text-align: center;
    border-left: 1px solid #e0e0e0;
    background: #fff;
    letter-spacing: -.1em;
}

.radio-group input[type="radio"]:checked+.lb-radio {
    color: #ff3333;
    font-weight: 400;
}
.radio-group input[type="radio"]:disabled+.lb-radio {background:#eee;}
.radio-group input[type="radio"]:checked+.lb-radio:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ff3333;
}

.radio-group .lb-radio:first-of-type { border-left: 0; }

.radio-group input[type="radio"]:checked+.lb-radio:first-of-type:after {
    border-radius: 2px 0 0 2px;
}

.radio-group input[type="radio"]:checked+.lb-radio:last-of-type:after {
    border-radius: 0 2px 2px 0;
}
/*
.radio-group input[type="radio"]:focus+.lb-radio {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}*/

.radio-group.size2 .lb-radio { min-width: 124px; }

.radio-group02 {
    display: inline-block;
    font-size: 0;
    border-radius: 2px;
    vertical-align: middle;
}
.radio-group02 .lb-radio {
    margin-right: 20px
}

.chk-group { width: 600px; }

.chk-group .lb-check {
    width: 115px;
    margin-bottom: 10px;
}

.chk-group2 {
    margin: 5px 0;
}

.chk-group2 .lb-check {
    margin-right: 20px;
}

.file-wrap input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*.file-wrap input[type="file"]:focus+.lb-file {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}*/

.file-wrap .lb-file {
    display: inline-block;
    height: 32px;
    padding: 5px 13px;
    color: #666;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

.file-wrap .file-result {
    display: inline-block;
    width: 490px;
    min-height: 32px;
    padding: 4px 10px;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.modal .file-wrap .file-result { width: 400px;}

.file-wrap .file-result li {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
    word-break: normal;
}

.file-wrap .file-result li:first-child { margin-left: 0;}

.file-wrap .file-result li .btn-close {
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 5px;
}

.file-result2 {
    display: inline-block;
    width: calc(100% - 60px);
    padding-left: 5px;
    vertical-align: middle;
    line-height: 1;
}

.file-result2 li {
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;
    color: #666;
}

.file-result2 .btn-close {
    vertical-align: middle;
    margin-left: 5px;
}

.add-file .add-file-item + .add-file-item {
    margin-left: 10px;
}
.add-file .add-file-item .btn-close {
    margin-top: -2px;
    margin-left: 5px;
    vertical-align: middle;
}
.add-file .file-link {
    display: inline-block;
    text-decoration: underline;
    color: #666;
}

/* acco */
.base-acco {
    border-bottom: 1px solid #ddd;
}
.base-acco .acco-btn {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    border-top: 1px solid #ddd;
}
.base-acco .acco-btn:before {
    content: '';
    display: block;
    width: 10px;
    height: 4px;
    position: absolute;
    top: 50%; right: 20px;
    margin-top: - 2px;
    background: url(/static/images/bg_selectbox_down.png) 0 0 no-repeat;
}
.base-acco .acco.active .acco-btn:before { background-image: url(/static/images/bg_selectbox_up.png)}

.base-acco .acco-pnl { border-top: 1px solid #ddd;}
.base-acco .choice { margin-left: 5px; }
.base-acco .choice.on { color: #ff3333;}

.form-acco .acco {margin-top: 30px;}

.form-acco .acco-tit {
    padding-bottom: 5px;
    border-bottom: 2px solid #333;
}

.form-acco .acco-tit:after {
    content: '';
    display: block;
    clear: both;
}

.form-acco .acco-tit .h3 {
    float: left;
    margin-top: 3px;
}

.form-acco .acco-tit .btn-base-s { vertical-align: top;}

.form-acco .acco-btn {
    width: 29px;
    height: 26px;
    background: url(/static/images/btn_acco.png) 0 0 no-repeat;
}

.form-acco .acco.active .acco-btn { background-image: url(/static/images/btn_acco_on.png);}

.form-acco .tbl-form table { border-top: 0;}

.term-acco { margin-top: 30px;}

.term-acco .acco-tit {
    position: relative;
    padding: 15px 20px;
    background: #f7f7f7;
    border-radius: 2px;
}

.term-acco .acco-btn {
    position: absolute;
    top: 50%; right: 20px;
    margin-top: -4px;
    display:block;
}

.term-acco .acco-btn:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 2px;
    height: 8px;
    background: #333;
    border-radius: 5px;
    transform: rotate(-45deg);
}

.term-acco .acco-btn:after {
    content: '';
    position: absolute;
    top: 0; right: -5px;
    width: 2px;
    height: 8px;
    background: #333;
    border-radius: 5px;
    transform: rotate(45deg);
}

.term-acco .acco.active .acco-btn:before { transform: rotate(45deg);}
.term-acco .acco.active .acco-btn:after { transform: rotate(-45deg);}

.term-acco .acco-pnl {
    padding: 5px 20px 15px;
    font-size: 14px;
    color: #666;
    background: #f7f7f7;
    border-radius: 2px;
}

/* select */
.slc-base {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 32px;
    padding: 0 30px 0 10px;
    border-radius: 2px;
    border: solid 1px #ddd;
    font-size: 15px;
    color: #666;
    text-align: left;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:#fff url(/static/images/bg_selectbox_down.png) no-repeat;
    background-position: right 15px center;
}

.slc-base + .slc-base,
.slc-base + .inp-base { margin-left: 3px;}

.slc-base::-ms-expand { display: none; }

.srh-form {
    width: 100%;
    margin-top: 20px;
    padding: 15px 20px 20px;
    border-top: 2px solid #333;
}

.srh-form .btn-wrap {
    width: calc(100% + 40px);
    margin-top: 20px;
    margin-left: -20px;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
}
.srh-form table { width: 100%;}
.srh-form table th {
    font-weight: 400;
    text-align: left;
}

.srh-form table th,
.srh-form table td {
    height: 32px;
    padding: 10px;
}

.srh-form .inp-base,
.srh-form .textarea { max-width: 805px}

/* tab */
.tab-basic .tab-nav { position: relative;}

.tab-basic .tab-nav:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d8d8d8;
}

.tab-basic .tab-btn {
    position: relative;
    padding: 12px 0;
    margin-right: 40px;
    font-size: 18px;
    color: #999;
}

.tab-basic .tab-btn.active { color: #ff3333;}

.tab-basic .tab-btn.active:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff3333;
}
.tab-basic .tab-pnl { padding-top: 30px;}


/* common - table */
.tbl-wrap {
    max-width: 1280px;
    width: 100%;
}

.tbl-fixed {
    position: relative;
    padding-top: 30px;
}

.tbl-fixed > div {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.tbl-fixed { border-top: 2px solid #333; }
.tbl-fixed .tbl-data {
    margin-top: 5px;
    border-top: 0;
}

.tbl-fixed:before {
    content: '';
    display: block;
    width: 100%;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    background: #f4f4f4;
    border-bottom: 1px solid #e0e0e0
}

.tbl-fixed thead tr {
    position: absolute;
    top: 0;
}

.tbl-fixed thead th:last-child { border-right: 0;}

.tbl-form table {
    width: 100%;
    table-layout: fixed;
    border-top: 2px solid #333;
}
.tbl-form thead th,
.tbl-form tbody th,
.tbl-form tbody td {
    font-size: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.tbl-form thead th,
.tbl-form tbody th {
    padding: 20px;
    color: #333;
    background: #f7f7f7;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.tbl-form tbody th .btn-tip {
    top: 2px;
}

.tbl-form tbody td {
    padding: 15px 20px;
    color: #666;
}

.tbl-form2 table {
    width: 100%;
    table-layout: fixed;
}
.tbl-form2 tbody th,
.tbl-form2 tbody td {
    font-size: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.tbl-form2 tbody th {
    padding: 20px;
    color: #333;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.tbl-form2 tbody td {
    padding: 15px 15px;
}

.tbl-form.type3 tbody th{
    background:#fff;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
}
/* [FRONTEND-920] 추가 */
.tbl-form3 table {
    width: 100%;
    border-top: 2px solid #333;
}

.tbl-form3 thead th,
.tbl-form3 tbody th,
.tbl-form3 tbody td {
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid #e0e0e0;
}

.tbl-form3 thead th,
.tbl-form3 tbody th {
    padding: 10px 20px;
    color: #333;
    text-align: center;
    vertical-align: middle;
}

.tbl-form3 tbody td {
    padding: 10px 0;
    color: #999;
}

.tbl-data {
    margin-top: 10px;
    border-top: 2px solid #333;
}
.tbl-data.align-c th,
.tbl-data.align-c td {text-align: center;}

.tbl-data table {
    width: 100%;
    table-layout: fixed;
}
.tbl-data thead th {
    height: 30px;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    background: #f4f4f4;
}
/* [FRONTEND-920] 추가 */
.tbl-data thead th.tit {
    font-weight: 400;
    font-size: 15px;
    color: #333;
    letter-spacing: -.38px;
}

.tbl-data tbody th,
.tbl-data tbody td {
    height: 30px;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    word-break:break-all;
}

.tbl-data tbody th {
    font-size: 12px;
    font-weight: 400;
    color: #333;
    background: #f4f4f4;
}

.tbl-data tbody td {
    font-size: 15px;
    color: #666;
}

.tbl-data.tbl-line th,
.tbl-data.tbl-line td {
    border-left: 1px solid #e0e0e0
}

.tbl-data.tbl-line th:first-child,
.tbl-data.tbl-line td:first-child {
    border-left: 0
}

/*tbl-data02*/
.tbl-data02 {
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
}
.tbl-data02.align-c th,
.tbl-data02.align-c td {text-align: center;}

.tbl-data02 table {
    width: 100%;
}
.tbl-data02 thead th {
    height: 35px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 15px;
    color: #999;
    background: #f4f4f4;
    font-weight: 400;
}
.tbl-data02 tbody th,
.tbl-data02 tbody td {
    height: 35px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.tbl-data02 tbody th {
    font-size: 15px;
    color: #999;
    background: #f4f4f4;
    font-weight: 400;
}

.tbl-data02 tbody td {
    font-size: 15px;
    color: #666;
}

.info-noti-wrap {
    position: relative;
}

.info-noti {
    font-size: 15px;
    color: #999;
}

.info-noti em {
    color: #333;
}

.info-noti span {
    position: relative;
}

.info-noti span + span:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 5px;
    background: #e0e0e0;
}


.info-noti-wrap .slc-base{
    position: absolute;
    top: -10px; right: 0;
}

.tbl-noti {
    margin-top: 10px;
}

.tbl-noti table {
    width: 100%;
    table-layout: fixed;
}

.tbl-noti thead th {
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    background: #f4f4f4;
}

.tbl-noti tbody td {
    padding: 12px 10px;
    height: 45px;
    font-size: 15px;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #e0e0e0
}

.tbl-noti tbody td.tit {
    text-align: left;
}

.tbl-noti tbody td.tit a {
    color: #666;
    vertical-align: baseline;
}

.tbl-noti tbody td.tit .flag {
    margin-right: 10px;
}

.tbl-noti tbody td.tit .ico-new {
    vertical-align: -1px;
}

.tbl-base {
    margin-top: 30px;
}
.tbl-base table {
    width: 100%;
    border-top: 2px solid #333;
}
.tbl-base thead th,
.tbl-base tbody th,
.tbl-base tbody td {
    font-size: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.tbl-base thead th,
.tbl-base tbody th {
    height: 45px;
    padding: 11px 20px;
    color: #333;
    background: #f7f7f7;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}
.tbl-base tbody td {
    height: 45px;
    padding: 10px 20px;
    font-size: 15px;
    color: #666;
    line-height: 1.47;
}

.tbl-base.type2 table {
    border-top: 1px solid #e0e0e0;
}

.tbl-base.type2 tbody th {
    color: #999;
}

/* layout */
.wrap { position: relative;}

.wrap-in {
    padding-left: 210px;
    transition: all 0.3s;
    height: 100%;
}

.wrap.wide .wrap-in {
    min-width: 1280px;
    padding-left: 0;
    transition: all 0.3s;
}

.lnb-wrap {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 9;
    width: 210px;
    height: 100%;
    min-width: 210px;
    color: #fff;
    background: #43444d;
    transition: left 0.3s;
}

.lnb-wrap.fix {
    position: fixed;
    top: 0;
}

.wrap.wide .lnb-wrap {
    left: -210px;
    transition: left 0.3s;
}

.main-contents {
    max-width: 1070px;
    width: 870px;
    margin: 40px 100px 80px;
    transition: all 0.3s;
}

.wrap.wide .main-contents {
    max-width: 1070px;
    min-width: 1070px;
    width: 100%;
    transition: all 0.3s;
}

.contents {
    min-width: 1070px;
    min-height: 540px;
    padding: 40px 20px 70px;
}

.header,
.footer>div,
.page-tab {
    min-width: 1070px;
}

.wrap.wide .header,
.wrap.wide .footer>div,
.wrap.wide .page-tab {
    min-width: 1280px;
}

.header {
    position: relative;
    min-width: 1280px;
    height: 40px;
    background: #ff6f61;
}

.header h1 { padding: 0 20px;}

.header h1 a {
    display: inline-block;
    height: 40px;
    padding: 12px 0;
}
.header h1 img { vertical-align: top;}

.header .user-info {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0;
}

.header .user-info span {
    display: inline-block;
    vertical-align: middle;
    color: #ffd4cf;
}

.header .user-info span img {
    margin-right: 3px;
    vertical-align: middle;
}

.header .user-info a {
    display: inline-block;
    margin-left: 5px;
    color: #ffd4cf;
}

.header .user-info a:first-of-type { margin-left: 10px;}

.header .user-info a:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    margin-right: 8px;
    background-color: #4b4b4b;
    vertical-align: -1px;
}

.header .user-info a:first-of-type:before { display: none;}

.btn-lnb-toggle {
    position: absolute;
    top: 0;
    left: 210px;
    z-index: 10;
    display: block;
    width: 40px;
    height: 51px;
    background: #fff url(/static/images/btn_lnb_on.png) 50% 50% no-repeat;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: all 0.3s;
}

.btn-lnb-toggle.close { background-image: url(/static/images/btn_lnb.png);}

.nav .depth1 { font-size: 15px;}

.nav .depth1 button,
.nav .depth1 a {
    display: block;
    height: 50px;
    padding: 14px 20px 14px 45px;
    color: #fff;
}

.nav .acco-tit {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}

.nav .acco-tit:before{
    content:'';
    opacity:.7;
    position:absolute;
    width:15px;
    height:15px;
    top: 16px;
    left: 20px;
    background:url(/static/images/ico_menu.png);
}
.nav .acco.active .acco-tit:before{
    opacity:1;
}

.nav .acco-tit.ico01:before{background-position: -1px -2px;}
.nav .acco-tit.ico02:before{background-position: -25px -2px;}
.nav .acco-tit.ico03:before{background-position: -51px -2px;}
.nav .acco-tit.ico04:before{background-position: -77px -2px;}
.nav .acco-tit.ico05:before{background-position: -1px -23px;}
.nav .acco-tit.ico06:before{background-position: -27px -23px;}
.nav .acco-tit.ico07:before{background-position: -52px -23px;}
.nav .acco-tit.ico08:before{background-position: -77px -23px;}

.nav .acco-tit:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 26px;
    margin-top: -2px;
    width: 10px;
    height: 6px;
    background: url(/static/images/bg_arrow_up.png) 0 0 no-repeat;
}

.nav .acco.active .acco-tit:after { background-image: url(/static/images/bg_arrow_down.png);}

.nav .acco-btn {
    display: block;
    width: 100%;
    text-align: left;
}

.nav .acco.active .acco-btn{
    background:#22b9d5;
}

.nav .acco-pnl {
    padding: 5px 0;
    background: #222;
}

.nav .acco.active .acco-pnl {
    display: block;
}

.nav .depth2 a {
    display: block;
    padding: 0 20px 0 45px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #999;
}

.nav .depth2 a:focus,
.nav .depth2 .active { color: #fff;}

.btn-all-nav {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 17px 20px 17px 45px;
    font-size: 15px;
    color: #fff;
    text-align: left;
}

.btn-all-nav:before {
    content: '';
    display: block;
    width: 15px;
    height: 14px;
    position: absolute;
    top: 18px;
    left: 20px;
    background: url(/static/images/btn_allnav.png) no-repeat;
}

.footer2 {
    width: 100%;
    padding: 20px 0 50px;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}

.link-group {
    /* padding-right: 40px; */
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.link-group>div:after {
    content: '';
    display: block;
    clear: both;
}
/*
.link-group .family {
    position: relative;
    float: right;
    border: 0;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.link-group .family .btn-drop {
    position: relative;
    width: 175px;
    height: 55px;
    padding: 0 20px;
    font-size: 15px;
    text-align: left;
    letter-spacing: -0.03em;
}

.link-group .family .btn-drop:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -4px;
    width: 14px;
    height: 8px;
    background: url(/static/images/btn_family_arrow.png) 0 0 no-repeat;
}

.link-group .family .box-drop {
    position: absolute;
    top: 55px;
    left: -1px;
    right: -1px;
    z-index: 1;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
}

.link-group .family .box-drop a {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    font-size: 15px;
    color: #666;
} */

.footer-link {
    float: left;
    padding: 20px;
    font-size: 0;
}

.footer-link a {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    font-size: 12px;
    color: #666;
}

.footer-link a:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #eee;
}

.footer-link a:first-child:before { display: none;}

.footer-info { padding: 25px 40px 40px;}

.footer-info:after {
    content: '';
    display: block;
    clear: both;
}

.footer-info>div { float: left;}

.footer-info h2 {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
}

.footer-info ul { width: 645px;}

.footer-info li {
    position: relative;
    display: inline-block;
    padding-right: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #666;
}

.footer-info li:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: -10px;
    width: 1px;
    height: 12px;
    background: #eee;
}

.footer-info li:nth-child(3n-2):before { display: none;}

.footer-info li .btn-txt { margin-left: 10px}

.footer-wrap .link-group > div,
.footer-wrap .footer-info {
    max-width: 1280px;
    margin: 0 auto;
}

.customer-center {
    position: relative;
    padding-left: 50px
}

.customer-center:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 85px;
    background: #eee;
}

.customer-center p {
    margin-bottom: 10px;
    font-size: 12px;
    color: #666;
    vertical-align: top;
    line-height: 1;
}

.customer-center strong {
    font-size: 24px;
    font-weight: 400;
    color: #333;
}

.customer-center span {
    margin-left: 10px;
    color: #999;
}

.footer-site {
    float: none;
    clear: both;
    width: 435px;
    height: 34px;
    background: url(/static/images/bg_prize.png) 0 0 no-repeat;
}

.wrap2 {
    padding: 45px 0;
    width: 100%;
    min-height: calc(100% - 100px);
    text-align: center;
}

.wrap2 h1 { text-align: center }

.wrap2 .h3 {
    margin: 35px 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}

.wrap-box {
    width: 670px;
    margin: 20px auto 40px;
    text-align: left;
}

.wrap-box2 {
    width: 430px;
    margin: 0 auto ;
    text-align: left;
}

/* modal */
.modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.modal-wrap.wrap-modal-noti {
    position: absolute;
    width: 0;
    height: 0;
}

.modal {
    display: none;
    position: absolute;
    top: 50%; left: 50%;
    width: 470px;
    margin-left: -235px;
    background: #fff;
    padding: 25px 20px 40px;
    outline:none;
}

.modal.type-m{
    width:540px;
    margin-left:-270px;
}

.modal.type-l {
    width: 670px;
    margin-left: -335px;
}

.modal.type-xl {
    width: 800px;
    margin-left: -400px;
}

.modal.modal-noti {
    width: 400px;
    margin: 0 !important;
    padding: 0;
    top: 120px;
    left: 240px;
    border: 1px solid #43444d;
}

.modal.modal-noti h2 {
    padding: 25px 20px 20px;
}
.modal.modal-noti .modal-cont {
    max-height: 500px;
    padding: 0 20px 20px;
    margin-top: 0;
}

.modal.modal-noti .noti-img img {
    width: 100%;
}
.modal.modal-noti .noti-txt {
    font-size: 15px;
    line-height: 1.47;
}
.modal.modal-noti .noti-chk {
    padding: 15px 20px;
    background: #f7f7f7;
}

.modal.modal-noti .noti-chk .lb-check {
    font-size: 12px;
    color: #666;
}

.modal .modal-cont {
    min-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
}
.modal .btn-close2 {
    position: absolute;
    top: 25px; right: 20px;
}

.dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5)
}

.modal .tab-basic .tab-btn {
    margin-right: 20px;
    padding: 8px 0;
    font-size: 12px;
}

.modal .tab-nav:before {
    margin: 0 -20px;
    width: calc(100% + 40px)
}

.modal .tbl-form tbody th { padding: 18px 15px;}
.modal .tbl-form tbody td {
    vertical-align: middle;
    padding: 10px 15px;
}

.modal .tbl-form .slc-base { width: 180px}
/* [FRONTEND-476] 추가 */
.modal .tbl-form.type2 tbody th {
    padding: 18px 0 18px 10px;
    letter-spacing: -0.38px;
    white-space: nowrap;
}
.modal .tbl-form.type2 tbody td {
    padding: 10px 0 10px 10px;
    letter-spacing: -0.38px;
    white-space: nowrap;
}

.modal .tbl-form.type2 .ins-no-send{
    padding: 7px 5px;
    line-height: 17px;
}

.modal .tbl-form.type2 .cell-phone-input{
    font-size: 11px;
}

.modal .tbl-form.type2 .btn-base{
    margin-left: 3px;
}

.nav-modal {
    display: none;
    position: absolute;
    top: 40px;
    left: 210px;
    width: calc(100% - 210px);
    height: 290px;
    background: #fff;
}

.nav-modal>ul {
    position: relative;
    padding: 0 50px;
}

.nav-modal>ul:before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
}

.nav-modal>ul>li {
    float: left;
    width: 14%;
}

.nav-modal .depth1 { padding: 14px 0;}

.nav-modal .depth1,
.nav-modal .depth1 button {
    font-size: 15px;
    color: #333;
    font-weight: 400;
}

.nav-modal .depth1 button { cursor: default;}

.nav-modal .depth2 { margin-top: 5px;}

.nav-modal .depth2 li { padding: 12px 0;}

.nav-modal .depth2 a {
    display: inline-block;
    font-size: 15px;
    color: #666;
    letter-spacing: -0.05em;
}

.nav-modal .depth2 a.active { color: #ff3333;}

.nav-modal .btn-close-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(/static/images/btn_close.png) 50% 50% no-repeat;
    font-size: 0;
    color: transparent;
    line-height: 0;
}

.nav-modal .btn-close-modal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 50px;
    background: #eee;
}

/* 배송조회 */
.delivery-info{
    padding:20px;
    text-align:center;
    font-size:12px;
    color:#555;
    background:#f9fafb;
    border-top:1px solid #eee;
    line-height:1;
}
.delivery-state{
    position: relative;
    padding:30px 20px 10px 56px;
    color:#999;
}
.delivery-state li{
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    border-top: 1px solid #ddd;
}
.delivery-state li:before{
    content:'';
    position: absolute;
    display:block;
    width:16px;
    height:16px;
    top:20px;
    left:-36px;
    background:url('/static/images/ico_check.png') no-repeat center #999;
    background-size:9px;
    border-radius:15px;
    z-index:1;
}
.delivery-state li:after{
    content:'';
    position: absolute;
    display:block;
    width:2px;
    height:100%;
    left:-29px;
    top:28px;
    background:#999;
}
.delivery-state li:first-child{
    color:#333;
    border-top:0;
}
.delivery-state li:first-child:before{
    background-color:#333;
}
.delivery-state li:first-child:after{
    /*height:112%;*/
    background:#333;
}
.delivery-state li:last-child:after{
    content:none;
}
.delivery-state .date{
    font-size: 13px;
    font-weight:bold;
    line-height:1.08;
}
.delivery-state .state{
    margin-top:5px;
    font-size:17px;
    font-weight:bold;
    line-height:1.06;
}
.delivery-state .state span{
    display: inline-block;
    margin-left:5px;
    font-size:13px;
    font-weight:normal;
    color:#999;
}
.delivery-state .info{
    margin-top:10px;
    font-size:13px;
    line-height:1.23;
}
.delivery-state .align-r{
    font-size:13px;
    line-height:1.38;
}

/* page tab */
.page-tab {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 45px 0 40px;
    overflow:hidden;
    border-bottom: 1px solid #eee;
    background: #f7f7f7;
    z-index: 1;
}

.page-tab.fix {
    position: fixed;
    top: 0;
    left: 210px;
    z-index: 8;
}

.wrap.wide .page-tab.fix {
    left: 0;
    width: 100%;
}

.swiper-container {
    position: relative;
    height: 50px;
}

.swiper-container .swiper-wrapper {
    width: 100%;
    white-space: nowrap;
    font-size: 0;
}

.swiper-container .swiper-slide {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #999;
    vertical-align: top;
    background: #fff;
}

.swiper-container .swiper-slide.active:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #ff3333;
}

.swiper-container .swiper-slide.active a { color: #ff3333; }

.swiper-container .swiper-slide a {
    display: block;
    width: 140px;
    height: 50px;
    padding: 16px 36px 16px 26px;
    color: #999;
    border-right: 1px solid #eee;
}

.swiper-container .swiper-slide a span {
    display: block;
    width: 78px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper-container .swiper-slide.home a {
    width: 60px;
    height: 50px;
    background: url(/static/images/btn_home.png) 50% 50% no-repeat;
}

.swiper-container .swiper-slide.home.active a { background-image: url(/static/images/btn_home_on.png) }

.swiper-container .swiper-slide .btn-pin {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 11px;
    height: 14px;
    background: url(/static/images/btn_pin.png) 0 0 no-repeat;
}

.swiper-container .swiper-slide .btn-pin.on { background-image: url(/static/images/btn_pin_on.png);}

.swiper-container .swiper-slide .btn-tab-close {
    position: absolute;
    top: 19px;
    right: 10px;
    width: 13px;
    height: 13px;
    background: url(/static/images/btn_tab_close.png) 0 0 no-repeat;
}

.tab-arrows {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    font-size: 0;
}

.tab-arrows button {
    width: 20px;
    height: 50px;
    background: url(/static/images/btn_tab_prev.png) 0 0 no-repeat;
    border-left: 1px solid #eee;
}

.tab-arrows .btn-tab-next { background-image: url(/static/images/btn_tab_next.png);}

.sticky-wrap {
    position: relative;
}

.sticky-wrap.fix {
    position: fixed;
    top: 51px;
    left: 210px;
    right: 0;
    width: calc(100% - 210px);
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
    z-index: 8;
    transition-property: left, width;
    transition-duration: .3s;
}

.wrap.wide .sticky-wrap.fix {
    left: 0;
    right: 0;
    width: 100%;
    transition-property: left, width;
    transition-duration: .3s;
}


.sticky-wrap .btn-base{
    outline:none;
    margin: 0 2px;
}

/* main */
.main-contents h2 {
    font-size: 18px;
    font-weight: 400;
}

.main-contents h2 span {
    font-size: 12px;
    color: #999;
    font-weight: 400;
}

.main-contents h2 span + .btn-tip { vertical-align: middle; }

.main-cont1:after {
    content: '';
    display: block;
    clear: both;
}

.main-cont1 .part {
    position: relative;
    float: left;
    width: 48.85%;
}

.main-cont1 .part + .part { float: right;}

.main-cont1 .part .btn-more {
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 12px;
    color: #999;
}

.main-cont1 .box-line {
    height: 210px;
    margin-top: 10px;
    padding: 17px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.main-cont1 .box-line.type2{padding:37px 20px;}

.tab-notice .tab-nav {
    margin-bottom: 20px;
}

.tab-notice .tab-btn {
    margin-right: 13px;
    font-size: 12px;
    color: #999;
}

.tab-notice .tab-btn.active {
    position: relative;
    color: #333;
    font-weight: 400;
}

.tab-notice .tab-btn.active:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
}

.notice-list li {
    margin-top: 10px;
    line-height: 20px;
}

.notice-list .tit {
    margin-left: 10px;
    display: inline-block;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    color: #666;
    vertical-align: top;
}

.notice-list .date {
    float: right;
    margin-top: 2px;
    font-size: 12px;
    color: #999;
}

.notice-list .tag {
    display: inline-block;
    padding: 0 5px 0;
    height: 19px;
    line-height: 19px;
    font-size: 12px;
    color: #999;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    vertical-align: top;
}

.notice-list .tag.type1 {
    color: #fe0605;
    border-color: #fe0605;
}

.user-notice>a {
    display: block;
    margin-top: 12px;
    line-height: 21px;
    cursor: default;
}

.user-notice>a:first-child { margin-top: 3px;}

.user-notice dl:after {
    content: '';
    display: block;
    clear: both;
}

.user-notice dt {
    float: left;
    font-size: 15px;
    color: #666;
}

.user-notice dd {
    float: right;
    font-size: 12px;
    color: #666;
}

.user-notice dd b {
    margin-right: 2px;
    font-size: 21px;
    font-weight: 400;
    color: #333;
    line-height: 1;
    cursor: pointer;
}

.user-notice dd span {
    font-size: 15px;
    color: #999;
}

.user-notice dd span:before {
    content: '';
    display: inline-block;
    margin: 0 5px 0 3px;
    width: 1px;
    height: 14px;
    background: #d8d8d8;
    vertical-align: -1px;
}

.main-cont2 {
    position: relative;
    margin-top: 40px;
}

.main-cont2 .btn-ico-re {
    position: absolute;
    top: -1px;
    right: 0;
}

.box-state {
    margin-top: 10px;
    padding: 21px 0;
    background: #ff4d4d;
    border-radius: 4px;
}

.box-state:after,
.box-state dl:after {
    content: '';
    display: block;
    clear: both;
}

.box-state.type2 { background: #788498;}

.box-state h3 {
    float: left;
    width: 16%;
    text-align: center;
    padding: 12px 0 0;
    font-size: 18px;
    color: #fff;
}

.box-state .user-notice {
    float: left;
    position: relative;
    width: 28%;
    padding: 0 20px 0 25px;
}

.box-state .user-notice:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 50px;
    background: #fff;
    opacity: 0.2;
}

.box-state .user-notice dl + dl { margin-top: 7px;}

.box-state .user-notice dt,
.box-state .user-notice dd a,
.box-state .user-notice dd b { color: #fff; }

.box-state .user-notice dd { text-align: right;}

.box-state .user-notice .btn-base-s {
    display: block;
    height: 26px;
    line-height: 1;
    margin-top: 5px;
    font-size: 12px;
    color: #666;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

/* main carousel */
.bx-wrapper {
    position: relative;
    margin-top: 40px;
    overflow: hidden;
}

.bx-wrapper .bx-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    min-width: 75px;
    padding: 7px 10px;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 22px;
}

.bx-pager {
    display: inline-block;
    letter-spacing: -1px;
    word-spacing: -1px;
}

.bx-controls-direction { float: right; }

.bx-controls-direction a {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 14px;
    font-size: 0;
    line-height: 0;
    color: transparent;
    vertical-align: top;
}

.bx-controls-direction .bx-prev {
    margin-right: 4px;
    background: url(/static/images/btn_slide_prev.png) 50% no-repeat;
}

.bx-controls-direction .bx-next {
    margin-left: 5px;
    background: url(/static/images/btn_slide_next.png) 50% no-repeat;
}

.bx-controls-direction .bx-next:before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: -5px;
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.main-slider .item a {
    display: block;
    width: 100%;
    height: 110px;
    border-radius: 6px;
    box-sizing: border-box;
}

.main-slider .item a.line {
    border: 1px solid #f7f7f7;
    border-radius: 6px;
}

/* login layout */
.login-wrap {
    padding: 45px 0;
    width: 100%;
    min-height: calc(100% - 266px);
    background: #f1f1f1;
    text-align: center;
}

.login-footer {
    width: 100%;
    padding: 20px 0 50px;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #e0e0e0;
    background: #f1f1f1;
    text-align: center;
}

.login-box {
    width: 360px;
    padding: 45px 40px 50px;
    margin: 20px auto 50px;
    background: #fff;
    border-radius: 6px;
    text-align: left;
}

.login-box h2 {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.login-box .txt-base {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    letter-spacing: -.05em;
    text-align: center;
}

.login-box .tab-nav {
    margin: 30px -40px 0;
    font-size: 0;
}

.login-box .tab-btn {
    display: inline-block;
    width: 50%;
    height: 40px;
    font-size: 15px;
    color: #999;
    border-bottom: 2px solid #eee;
}

.login-box .tab-btn.active {
    font-weight: 400;
    color: #333;
    border-color: #ff3333;
}

.login-box .tab-pnl {
    padding: 25px 0 0;
    text-align: left;
}

.login-box .lb-block {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.login-box .btn-wrap { margin-top: 20px;}

.login-box .btn-base-l {
    width: 100%;
    height: 44px;
    line-height: 44px;
    margin-left: 0;
    border-radius: 3px;
}

.login-box .btn-base-l.type4 {
    background: #fe0605
}

.login-box .slc-base {
    height: 40px;
}

.inp-login > div {
    position: relative;
    margin-top: 10px;
}

.login-chk {
    margin-top: 15px;
    text-align: left
}

.login-chk .lb-check { font-size: 12px;}

.login-link {
    margin-top: 20px;
    text-align: center;
}

.login-link span {
    display: inline-block;
    position: relative;
    padding: 0 10px;
}

.login-link span:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -3px;
    display: block;
    width: 1px;
    height: 10px;
    background: #e0e0e0;
}

.login-link span:first-child:before { display: none;}

.login-link a {
    font-size: 12px;
    color: #999;
}

/* join */
.join-step {
    margin: 50px 0 0;
    padding-bottom: 20px;
}

.join-step li {
    position: relative;
    display: inline-block;
    width: 115px;
    font-size: 14px;
    color: #999;
}
.join-step li span {
    display: block;
    width: 27px;
    height: 27px;
    margin: 0 auto 5px;
    line-height: 27px;
    font-size: 15px;
    color: #999;
    background: #ddd;
    border-radius: 100%;
    text-align: center;
}

.join-step li:before {
    content: '';
    display: block;
    position: absolute;
    top: 13px; left: -50%;
    width: 100%;
    height: 1px;
    border-top: 1px dashed #ddd;
    z-index: -1;
}

.join-step li:first-child:before {
    display: none;
}

.join-step li.curr {
    color: #fe0605;
}

.join-step li.curr span {
    color: #fff;
    background-color: #fe0605;
}

.join-step li.chk span {
    background:#ddd url(/static/images/bg_join_chk.png) 50% 50% no-repeat;
    font-size: 0;
    line-height: 0;
}

.agr-list li {
    margin-top: 15px;
}

.agr-list li:first-child {
    margin-top: 0;
}

.agr-list .term-box {
    height: 100px;
    overflow-y: auto;
    padding: 10px 20px;
    margin-top: 7px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    color: #666;
    background: #fff;
}

.modal-cont .agr-list .term-box { height: 100px}

.agr-list .lb-check {
    font-size: 12px;
    vertical-align: middle;
}

.term-box h3{
    margin-top:20px;
    font-size:12px;
}
.term-section{margin-top:20px;}
.term-section .sct-tit{margin-bottom:20px;}
.term-section .sct-tit2{
    margin-bottom:5px;
    font-weight: bold;
}
.term-section li{
    margin-top:0;
    line-height:18px;
    letter-spacing:-.2px;
}
.term-section .term-list li{
    margin-left:13px;
    text-indent:-13px;
}
.term-section .term-list li .term-txt{text-indent:0;}
.term-section .term-tbl table{border-bottom:1px solid rgb(149, 178, 204);}
.term-section .term-tbl thead th{
    padding:10px;
    font-size:12px;
    font-weight:normal;
    color:#666;
    background: rgb(227, 236, 245);
    border-left:1px solid rgb(149, 178, 204);
    border-bottom:0;
    text-align:center;
}
.term-section .term-tbl thead th:first-child{border-left:0;}
.term-section .term-tbl tbody th,
.term-section .term-tbl tbody td{
    padding:10px;
    font-size:12px;
    font-weight:normal;
    color:#666;
    border-top:1px solid rgb(149, 178, 204);
    border-left:1px solid rgb(149, 178, 204);
    border-bottom:0;
    text-align: center;
}
.term-section .term-tbl tbody td{background:#fff;}
.term-section .term-tbl .inline{
    padding:10px;
    text-align:left;
    color:#666;
}

.term-section .term-tbl tbody th{
    background: rgb(227, 236, 245);
}
.term-section .term-tbl tbody th:first-child{border-left:0;}

.term-section .term-tbl tbody tr td:first-child {
    border-left: 0;
}

.all-agr {
    margin-top: 20px;
    font-weight: 400;
}

.complete-box {
    padding-top: 15px;
    text-align: center;
}

.complete-box:before {
    content:'';
    display: block;
    width: 54px;
    height: 54px;
    margin: 0 auto 15px;
    background: url(/static/images/bg_complete.png) 0 0 no-repeat;
}

.complete-box p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    line-height: 1.36;
}

.complete-info {
    margin-top: 30px;
    padding: 15px 20px;
    background: #f7f7f7;
}

.complete-info dl { margin-top: 15px;}
.complete-info dl:first-child { margin-top: 0}

.complete-info dt,
.complete-info dd {display: inline-block;}

.complete-info dt {
    width: 115px;
    font-size: 15px;
}

.complete-info dd {
    font-size: 15px;
    color: #666;
}

/* contents */
.data-wrap {
    margin-top: 10px;
    width: 100%;
    background: #eee;
    text-align: center;
}

.editor-wrap {
    width: 100%;
    background: #eee;
}

.result-wrap {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.result-p {
    margin-top: 10px;
    font-size: 15px;
    color: #999;
    letter-spacing: -.04em;
}

.result-p b { color: #333;}

.result-wrap .btn-ico-exel {
    margin-right: 16px;
    vertical-align: middle;
}

.result-wrap .btn-ico-exel:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -12px;
    width: 1px;
    height: 16px;
    margin-top: -8px;
    background: #e0e0e0;
}

.box-manage {
    overflow: hidden;
    margin-top: 10px;
    padding: 15px 0 10px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
}

.box-manage>div {
    position: relative;
    float: left;
    width: 33.3%;
    padding: 0 20px;
}
.box-manage.type4 > div { width: 25%}

.box-manage>div:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 1px;
    background: #eee;
}

.box-manage.line3>div:before { min-height: 74px;}
.box-manage.line2>div:before { min-height: 44px;}
.box-manage.line1>div:before { min-height: 14px;}

.box-manage>div:first-child:before { display: none;}

.box-manage dl { padding: 2px 0;}

.box-manage dl:after {
    content: '';
    display: block;
    clear: both;
}

.box-manage dt {
    position: relative;
    float: left;
    margin-top: 3px;
    font-size: 14px;
    color: #666;
}

.box-manage dd {
    float: right;
    font-size: 12px;
    color: #666;
}

.box-manage dd a {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
}

.box-manage dd a:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #333;
    position: absolute;
    bottom: 4px;
    left: 0;
}

/* 페이징 */
.paging {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
    line-height: 26px;
}

.paging .btn-page {
    width: 42px;
    height: 26px;
    margin-right: 5px;
    opacity: 0.3;
    background: url(/static/images/btn_page.png) 0 0 no-repeat;
    vertical-align: top;
}

.paging .btn-page.next { margin-left: 10px;}

.paging .btn-page.next-all { background-image: url(/static/images/btn_page_all.png);}

.paging .btn-page.prev {
    margin-left: 7px;
    background-image: url(/static/images/btn_page.png);
    transform: rotate(180deg);
}

.paging .btn-page.prev-all {
    margin-right: 0;
    background-image: url(/static/images/btn_page_all.png);
    transform: rotate(180deg);
}

.paging .btn-page:focus,
.paging .btn-page:hover { opacity: 1;}

.paging>span a {
    margin: 0 5px;
    display: inline-block;
    font-size: 15px;
    color: #999;
}

.paging>span a.active {
    color: #333;
    font-weight: 400;
}

.list-upload:after {
    content: '';
    display: block;
    clear: both;
}

.list-upload li {
    float: left;
    margin-right: 10px;
    text-align: center;
}

.list-upload li .upload-wrap { width: 115px;}

.list-upload .lb-radio {
    margin-top: 10px;
    font-size: 12px;
}

.upload-wrap {
    position: relative;
    width: 230px;
    height: 115px;
    border: 1px dashed #e0e0e0;
    border-radius: 2px;
}
.upload-wrap .thumb {
    overflow: hidden;
    width: 100%;
    height: 115px;
    text-align: center;
}
.upload-wrap .thumb img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%
}
.upload-wrap .btn-base-s {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
}

.upload-wrap .btn-clear {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0.9) url(/static/images/btn_close3.png) center no-repeat;
}

.tag-wrap {
    width: 100%;
    border-radius: 2px;
}

.tag-wrap:after {
    content: '';
    display: block;
    clear: both;
}

.tag-wrap>div {
    float: left;
    width: 25%;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.tag-wrap>div:nth-child(1),.tag-wrap>div:nth-child(2),
.tag-wrap>div:nth-child(3),.tag-wrap>div:nth-child(4){ border-top: 1px solid #e0e0e0;}
.tag-wrap>div:nth-child(4n-3){ border-left: 1px solid #e0e0e0;}

.tag-tit {
    height: 28px;
    padding: 6px 0;
    font-size: 11px;
    font-weight: 400;
    color: #999;
    text-align: center;
    background: #f9f9f9;
}

.tag-list {
    height: 100px;
    overflow-y: auto;
}

.tag-list li button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    text-align: left;
}

.tag-list li button:hover { background: #f9f9f9;}

.tag-result { margin-top: 15px;}
.tag-result .result-title {
    padding-right: 10px;
}
.tag-result .tag {
    position: relative;
    display: inline-block;
    padding: 5px 20px 6px 10px;
    font-size: 11px;
    color: #0091ff;
    background: #eff8ff;
    border-radius: 2px;
}
.tag-result .tag .btn-close {
    position: absolute;
    top: 7px;
    right: 5px;
    background: transparent;
}

.tag-result .tag .btn-close:before,
.tag-result .tag .btn-close:after { background: #0091ff}

.box-group {
    padding: 0 10px;
    font-size: 0;
    text-align: center;
}

.box-group .box {
    display: inline-block;
    width: 110px;
    height: 87px;
    padding: 15px 15px 10px;
    margin: 0 5px;
    background: #f4f4f4;
    border-radius: 6px;
}

.box-group .box span {
    display: block;
    font-size: 15px;
    color: #666;
    text-align: left;
}

.box-group .box strong {
    display: block;
    font-size: 30px;
    color: #333;
    text-align: right;
    font-weight: 400;
    letter-spacing: -.05em;
}

.opt-list li { border-top: 1px solid #ddd; }
.opt-list li:first-child { border-top: 0;}

.opt-list li button {
    width: 100%;
    padding: 15px 20px;
    text-align: left;
}

.opt-list li button:hover,
.opt-list li button:active,
.opt-list li button.on { background: #eee; }

.comment-wrap .comment-img {
    margin-top: 20px;
}

.comment-wrap .comment-img img {
    margin: 0 5px;
    width: 180px;
}

.qna-wrap {
    height: 120px;
    padding: 15px;
    overflow-y: auto;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
}


/* post search */
.inp-srh2 {
    width: 100%;
    position: relative;
}

.inp-srh2 .inp-base {
    width: 100%;
    height: 48px;
    padding-right: 35px;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.inp-srh2 .btn-srh {
    position: absolute;
    bottom: 13px;
    right: 20px;
    width: 24px;
    height: 24px;
    background: url(/static/images/ico_srh2.png) 0 0 no-repeat;
}

.modal-post .post-tip {
    margin-top: 80px;
}

.modal-post .post-tip .tbl-data td {
    font-size: 12px;
    color: #999;
}

.modal-post .tbl-data .area{
    padding:10px 20px;
    border-left:1px solid #e0e0e0;
}

.post-cont  {
    margin-top: 20px
}

.post-cont .tbl-data td {
    font-size: 12px;
}

.post-cont .tbl-data .address {
    position: relative;
    padding-left: 60px;
    margin-top: 13px;
}
.post-cont .tbl-data .address:first-child { margin-top: 0;}
.post-cont .tbl-data .tag {
    display: block;
    width: 50px;
    position: absolute;
    top: -2px; left: 0;
    font-size: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.post-cont .tbl-data .address p { line-height: 1.25 }
.post-cont .tbl-data .address .related {
    position: relative;
    margin-top: 10px;
    padding-right: 60px;
    color: #999;
}
.post-cont .tbl-data .address .related p{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-cont .tbl-data .address .related.abbr p { width: 100%; }
.post-cont .tbl-data .address .related.open { padding-right: 40px}
.post-cont .tbl-data .address .related.open p{
    height: auto;
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
}
.post-cont .tbl-data .address .btn-more {
    display: none;
    position: absolute;
    right: -10px; bottom: 3px;
    padding-right: 16px;
    font-size: 12px;
    color: #333;
}
.post-cont .tbl-data .address .related.abbr .btn-more { display: block;}
.post-cont .tbl-data .address .btn-more:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0;
    width: 12px;
    height: 13px;
    background: url(/static/images/btn_more_table.png) 0 0 no-repeat;
}
.post-cont .tbl-data .address .related.open .btn-more:before { transform: rotate(180deg);}

.slcted-opt{
    position:relative;
    padding-right:15px;
    color:#0091ff;
}
.slcted-opt .btn-close{
    top: 3px;
    right: -2px;
}

/* 입점문의 */
.inquiry-txt {
    margin-top: 40px
}

.inquiry-txt .txt1 {
    font-size: 14px;
    color: #666;
}

/* 약관 */
.term-tit {
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}
.term-tit:after {
    content: '';
    display: block;
    clear: both;
}

.term-tit .h2 { float: left}
.term-tit .h2 span {
    font-size: 15px;
    color: #999;
}

.term-tit .term-slc {float: right;}
.term-tit .term-slc span {
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}

.term-tit .term-slc .slc-base { width: 220px;}

.term-box {
    height: 430px;
    padding: 20px;
    overflow-y: auto;
    background: #f7f7f7;
    border-radius: 3px;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}

.request-wrap + .request-wrap {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #ddd
}

.cmp-regist {
    padding:20px;
    background:#eff8ff;
    text-align:center;
    font-size:15px;
    line-height:1;
}
.cmp-regist b{
    font-weight:bold;
    color:#0091ff;
}

.result-wrap button:last-child{margin-right:0;}
.result-wrap button:last-child:after{content: none;}
