/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline:none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
} */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}


summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}


/* reset */
body,
html {
  width: 100%;
  height: 100%;
  word-break: keep-all;
  /*overflow-x: hidden*/
}

html {
  font-size: 62.5%
}

body {
  font-family: -apple-system, 'NanumBarunGothic', Malgun-gothic, sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -.02em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overscroll-behavior: contain
}

/* body:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0
} */

a,
b,
body,
button,
div,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
i,
iframe,
label,
p,
span,
strong,
table,
tbody,
td,
th,
thead,
tr {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

dd,
dl,
dt,
li,
ol,
ul {
  box-sizing: border-box
}

dt,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400
}

button,
fieldset,
iframe,
img {
  border: 0
}

dd,
dl,
dt,
li,
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0
}

table {
  border-spacing: 0
}

table,
td,
th {
  border-collapse: collapse
}

caption {
  height: 0;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0)
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 40px 0
}

abbr,
cite,
em,
i,
u {
  font-style: normal;
  text-decoration: none
}

b,
strong {
  font-weight: 400
}

a {
  color: #000;
  outline-offset: 1px;
  text-decoration: none
}

a,
button {
  cursor: pointer
}

button {
  border: 0;
  background: transparent;
  color: #666;
  letter-spacing: -.02em;
}
button i {
  position: relative;
}

button,
input,
select,
textarea {
  font-family: -apple-system, 'NanumBarunGothic', Malgun-gothic, sans-serif;
}

input,
select,
textarea {
  box-sizing: border-box;
  font-size: 14px
}

[class*=inp-]::-webkit-search-cancel-button {
  display: none
}

label {
  cursor: pointer
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.hidden,
.hide {
  z-index: -1 !important;
  color: transparent !important;
  overflow: hidden !important;
  font-size: xx-small !important;
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  min-height: 0 !important;
  max-height: 0 !important
}