/* tab 관련 커스터마이징 */
/* 이중 스크롤 방지 height 조절 */
.dhxtabbar_base_material{
    height: calc(100% - 40px) !important;
}
.dhxtabbar_base_material div.dhxtabbar_cont{
    height: 100% !important;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_top div.dhx_cell_tabbar {
    height: 100% !important;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_top div.dhx_cell_tabbar div.dhx_cell_cont_tabbar {
    height: 100% !important;
}

.dhxtabbar_base_material div.dhxtabbar_cont div.dhxtabbar_tabs_top div.dhxtabbar_tabs {
    height: 51px; !important;
}


.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base {
    height: 51px;
}

.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left {
    height: 51px;
}

.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab {
    background-color: inherit;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab.dhxtabbar_tab_actv {
    color:inherit;
    background-color: #fff;
    height: 51px;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_text {
    height: inherit;
    background-color: inherit;
    border-right: 1px solid rgba(255,255,255,0.6);
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_text:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_close {
    opacity: .25;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_close:hover {
    opacity: 1;
}

.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left {
    height: 51px;
    border-right: 1px solid #eee;
    background: #f3f3f3;
}
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right {
    height: 51px;
    border-left: 1px solid #eee;
    background: #f3f3f3;
}
